Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:partial, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint:partial", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

test: fix imports and skip some tests
  __tests__/unit/core-nft/builder/nft-mint.test.ts
  __tests__/unit/core-nft/handlers/handlers.test.ts
  __tests__/unit/core-nft/handlers/nft-mint.test.ts
  __tests__/unit/core-nft/transactions/nft-mint.test.ts
Due: yarn lint:partial, prettier --write

test: fix imports
  __tests__/unit/uns-crypto/builder/nft-transfer.test.ts
Due: yarn lint:partial, prettier --write

feat: wip fix dalinet
  packages/core-tester-cli/src/shared/nft-send.ts
  packages/crypto/src/networks/dalinet/milestones.json
Due: yarn lint:partial, prettier --write

fix: move aip11 dalinet to block 2
  packages/crypto/src/networks/dalinet/milestones.json
Due: prettier --write

fix: dalinet network
  packages/core-nft-crypto/src/transactions/utils/schemas.ts
  packages/core-nft/src/constraints/constraint.ts
  packages/core-nft/src/constraints/constraint/enumeration.ts
  packages/core-nft/src/constraints/constraint/immutable.ts
  packages/core-nft/src/constraints/constraint/type/number.ts
  packages/core-nft/src/constraints/constraint/type/type.ts
  packages/core-nft/src/constraints/manager.ts
  packages/core-nft/src/index.ts
  packages/core-nft/src/manager.ts
  packages/core-nft/src/plugin.ts
  packages/core/bin/config/dalinet/plugins.js
  packages/core/bin/config/testnet/plugins.js
  packages/uns-crypto/src/transactions/uns-disclose-explicit/schema.ts
  packages/uns-transactions/src/handlers/uns-disclose-explicit.ts
Due: yarn lint:partial, prettier --write

feat(core-p2p): increase maximum token symbol length
  packages/core-p2p/src/schemas.ts
Due: yarn lint:partial, prettier --write

feat: activate all forgers in integration environment
  docker/integration/docker-compose.yml
Due: none

fix: remove Long convertion as it doesn't work with writeUint64
  packages/uns-crypto/src/crypto/uns-crypto.ts
  packages/uns-crypto/src/transactions/uns-disclose-explicit/uns-disclose-explicit.ts
Due: yarn lint:partial, prettier --write

feat: bump core to 4.0.0-beta.1 and minimumVersions
  packages/core/package.json
  packages/crypto/src/networks/dalinet/milestones.json
Due: prettier --write

remove forced transaction version in nft builder
  packages/core-nft-crypto/src/builders/nft.ts
Due: yarn lint:partial, prettier --write

fix: issue computing asset properties size
  __tests__/unit/core-nft/handlers/nft-mint.test.ts
  packages/core-nft/src/transactions/handlers/helpers.ts
Due: yarn lint:partial, prettier --write

feat: rollback only to height 1 and truncate nft tables
  packages/core-snapshots/src/db/index.ts
  packages/core/src/commands/snapshot/rollback.ts
Due: yarn lint:partial, prettier --write

build: remap @arkecosystem/crypto to @uns/ark-crypto
  package.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-nft-crypto/package.json
  packages/core-nft/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-transactions/src/errors.ts
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core/package.json
  packages/crypto/package.json
  packages/uns-crypto/package.json
  packages/uns-transactions/package.json
  tsconfig.json
  yarn.lock
Due: yarn lint:partial, prettier --write

feat: add pagination for nfts api
  packages/core-api/src/plugins/pagination/ext.ts
Due: yarn lint:partial, prettier --write

build: helpers script for uns publish on npm
  packages/core-nft-crypto/package.json
  packages/crypto/package.json
  packages/uns-crypto/package.json
  scripts/ark_crypto_publish.sh
  scripts/uns_publish_rebrand.sh
Due: prettier --write

chores: improve dalinet auto update
  scripts/upstream/update-upstream.sh
Due: none

release: 4.0.0-dev-201912031635
  packages/core/package.json
  packages/crypto/src/networks/dalinet/milestones.json
Due: prettier --write

fix: update or insert properties on NftUpdate transaction
  packages/core-nft/src/manager.ts
Due: yarn lint:partial, prettier --write

refactor: use upsert NFT property
  packages/core-database-postgres/src/core-nft/queries/index.ts
  packages/core-database-postgres/src/core-nft/queries/nftproperties/insert-or-update-property.sql
  packages/core-database-postgres/src/core-nft/repositories/nfts-repository.ts
  packages/core-interfaces/src/core-nft/database/nfts-repository.ts
  packages/core-nft/src/manager.ts
  packages/core-nft/src/transactions/handlers/nft-update.ts
Due: yarn lint:partial, prettier --write

fix: add typegroups in custom transaction schemas
  packages/core-nft-crypto/src/transactions/nft-mint.ts
  packages/core-nft-crypto/src/transactions/nft-transfer.ts
  packages/core-nft-crypto/src/transactions/nft-update.ts
  packages/uns-crypto/src/transactions/uns-disclose-explicit/uns-disclose-explicit.ts
Due: yarn lint:partial, prettier --write

fix: uns_rebrand script
  packages/crypto/package.json
  scripts/ark_crypto_publish.sh
  scripts/uns_publish_rebrand.sh
  scripts/utils.sh
Due: prettier --write

feat: upgrade chainmeta plugin to add nfts/{id}/properties/ TP#1945
  packages/core/package.json
  yarn.lock
Due: prettier --write

feat: enable default explicit value feature
  __tests__/unit/uns-crypto/__stubs__/core-container.ts
  __tests__/unit/uns-crypto/__stubs__/core-nft.ts
  __tests__/unit/uns-crypto/handlers/set-explicit-value.test.ts
  packages/uns-transactions/src/handlers/uns-disclose-explicit.ts
  packages/uns-transactions/src/handlers/utils/helpers.ts
Due: yarn lint:partial, prettier --write

feat: add wallets/{id}/nfts api TP #1948
  packages/core-api/src/core-nft/handlers/controller.ts
  packages/core-api/src/core-nft/handlers/routes.ts
  packages/core-api/src/core-nft/handlers/schema.ts
Due: yarn lint:partial, prettier --write
