Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:partial, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint:partial", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

feat: add create-unik format option
  packages/uns-cli/src/baseCommand.ts
  packages/uns-cli/src/commands/create-unik.ts
  packages/uns-cli/src/formater.ts
  packages/uns-cli/src/readCommand.ts
Due: yarn lint:partial, prettier --write

feat: add create-wallet format option
  packages/uns-cli/src/commands/create-wallet.ts
Due: yarn lint:partial, prettier --write

feat: add get-properties format option
  __tests__/unit/uns-cli/formater.test.ts
  packages/uns-cli/src/commands/get-properties.ts
  packages/uns-cli/src/formater.ts
Due: yarn lint:partial, prettier --write

feat: add read-unik format option
  packages/uns-cli/src/commands/read-unik.ts
Due: yarn lint:partial, prettier --write

feat: add set-properties format option
  packages/uns-cli/src/commands/set-properties.ts
Due: yarn lint:partial, prettier --write

feat: add read-wallet format option
  packages/uns-cli/src/commands/read-wallet.ts
Due: yarn lint:partial, prettier --write

refactor: remove useless default format
  packages/uns-cli/src/commands/status.ts
Due: yarn lint:partial, prettier --write

feat: add cli verbose option
  packages/uns-cli/src/baseCommand.ts
  packages/uns-cli/src/baseCommandLogs.ts
  packages/uns-cli/src/commands/create-unik.ts
  packages/uns-cli/src/commands/create-wallet.ts
  packages/uns-cli/src/commands/get-properties.ts
  packages/uns-cli/src/commands/read-unik.ts
  packages/uns-cli/src/commands/read-wallet.ts
  packages/uns-cli/src/commands/set-properties.ts
  packages/uns-cli/src/commands/status.ts
  packages/uns-cli/src/readCommand.ts
Due: yarn lint:partial, prettier --write

release uns-cli v0.2.0-alpha
  packages/uns-cli/package.json
Due: prettier --write

release: 3.0.0
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-nft/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  packages/uns-cli/package.json
Due: prettier --write

fix: fix format flag on helper
  packages/uns-cli/src/baseCommand.ts
Due: yarn lint:partial, prettier --write

fix: update uniks url in explorer for create-unik transaction
  packages/uns-cli/src/commands/create-unik.ts
Due: yarn lint:partial, prettier --write

fix: fix readme with new commands
  packages/uns-cli/README.md
Due: prettier --write

build: use hapi/joi, joi is deprecated + upgrade 14 -> 16.1.2
  packages/core-p2p/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

feat: setup dalinet
  docker/integration/Dockerfile
  docker/integration/docker-compose.yml
  docker/integration/forger-commons.yml
  docker/integration/init.sql
  docker/production/devnet/bootstrap/docker-compose.yml
  docker/production/devnet/docker-compose.yml
  docker/uns-init.sh
  package.json
  packages/core/bin/config/dalinet/.env
  packages/core/bin/config/dalinet/delegates.json
  packages/core/bin/config/dalinet/peers.json
  packages/core/bin/config/dalinet/plugins.js
  packages/core/package.json
  packages/crypto/src/networks/dalinet/exceptions.json
  packages/crypto/src/networks/dalinet/genesisBlock.json
  packages/crypto/src/networks/dalinet/index.ts
  packages/crypto/src/networks/dalinet/milestones.json
  packages/crypto/src/networks/dalinet/network.json
  packages/crypto/src/networks/index.ts
  scripts/docker/build.sh
  scripts/docker/production/publish.sh
  scripts/docker/publish.sh
  scripts/upstream/check-uns-update
  scripts/upstream/update-upstream.sh
Due: yarn lint:partial, prettier --write

feat: add unset-properties command + flags refactoring
  packages/uns-cli/src/baseCommand.ts
  packages/uns-cli/src/commands/get-properties.ts
  packages/uns-cli/src/commands/read-unik.ts
  packages/uns-cli/src/commands/set-properties.ts
  packages/uns-cli/src/commands/unset-properties.ts
  packages/uns-cli/src/updatePropertiesCommand.ts
  packages/uns-cli/src/utils.ts
Due: yarn lint:partial, prettier --write

fix: fix status command table format output
  packages/uns-cli/src/commands/status.ts
Due: yarn lint:partial, prettier --write

feat: add chainmeta flag on read commands
  packages/uns-cli/README.md
  packages/uns-cli/src/commands/read-unik.ts
  packages/uns-cli/src/commands/read-wallet.ts
  packages/uns-cli/src/readCommand.ts
  packages/uns-cli/src/utils.ts
Due: yarn lint:partial, prettier --write

feat: add fee flag on create-unik command
  packages/uns-cli/src/commands/create-unik.ts
  packages/uns-cli/src/updatePropertiesCommand.ts
  packages/uns-cli/src/utils.ts
  packages/uns-cli/src/writeCommand.ts
Due: yarn lint:partial, prettier --write

feat: update read-wallet output
  packages/uns-cli/src/baseCommand.ts
  packages/uns-cli/src/commands/read-wallet.ts
Due: yarn lint:partial, prettier --write

refactor: update read-wallet command, idWallet(flag) -> walletId(arg)
  packages/uns-cli/README.md
  packages/uns-cli/src/baseCommand.ts
  packages/uns-cli/src/commands/read-wallet.ts
Due: yarn lint:partial, prettier --write

feat: rewrite process argument --help
  packages/uns-cli/bin/run
Due: none
