Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:partial, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint:partial", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

chores: node user runs process
  docker/Dockerfile
  docker/integration/docker-compose.yml
  docker/integration/forger-commons.yml
  docker/uns-init.sh
Due: none

chores: use signale logger to prevent file output
  packages/core/bin/config/dalinet/plugins.js
  packages/core/bin/config/devnet/plugins.js
  packages/core/bin/config/mainnet/plugins.js
  packages/core/bin/config/testnet/plugins.js
Due: none

feat: make apply/revert async for disclose-explicit
  packages/core-transactions/src/handlers/uns-disclose-explicit.ts
Due: yarn lint:partial, prettier --write

fix: schema validation with too long property
  packages/crypto/src/transactions/types/transaction.ts
Due: yarn lint:partial, prettier --write

refactor: expose transaction data schema validation
  packages/crypto/src/transactions/types/transaction.ts
Due: yarn lint:partial, prettier --write

feat: improve signale logger
  packages/core-logger-signale/src/defaults.ts
Due: yarn lint:partial, prettier --write

feat: make apply and revert handlers functions async
  __tests__/integration/core-blockchain/blockchain.test.ts
  __tests__/integration/core-transaction-pool/pool-wallet-manager.test.ts
  __tests__/unit/core-blockchain/processor/handlers/accept-handler.test.ts
  __tests__/unit/core-database/wallet-manager.test.ts
  __tests__/unit/core-transaction-pool/__stubs__/connection.ts
  __tests__/unit/core-transaction-pool/connection.test.ts
  __tests__/unit/core-transaction-pool/guard.test.ts
  __tests__/unit/core-transactions/handler-registry.test.ts
  __tests__/unit/core-transactions/handler.test.ts
  packages/core-api/src/versions/1/transactions/controller.ts
  packages/core-api/src/versions/2/transactions/controller.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/processor/handlers/accept-block-handler.ts
  packages/core-database/src/database-service.ts
  packages/core-database/src/wallet-manager.ts
  packages/core-interfaces/src/core-blockchain/blockchain.ts
  packages/core-interfaces/src/core-database/wallet-manager.ts
  packages/core-interfaces/src/core-transaction-pool/connection.ts
  packages/core-p2p/src/server/versions/internal/handlers/transactions.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/guard.ts
  packages/core-transaction-pool/src/pool-wallet-manager.ts
  packages/core-transactions/src/handlers/delegate-registration.ts
  packages/core-transactions/src/handlers/delegate-resignation.ts
  packages/core-transactions/src/handlers/ipfs.ts
  packages/core-transactions/src/handlers/multi-payment.ts
  packages/core-transactions/src/handlers/multi-signature.ts
  packages/core-transactions/src/handlers/nft-mint.ts
  packages/core-transactions/src/handlers/nft-transfer.ts
  packages/core-transactions/src/handlers/nft-update.ts
  packages/core-transactions/src/handlers/second-signature.ts
  packages/core-transactions/src/handlers/timelock-transfer.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/handlers/transfer.ts
  packages/core-transactions/src/handlers/vote.ts
  packages/core-transactions/src/interfaces.ts
Due: yarn lint:partial, prettier --write

chores: update upstream script date in logs
  scripts/upstream/update-upstream.sh
Due: none

chores: keep backward compatibility with docker image environment variables
  docker/uns-init.sh
Due: none

chores: improve logs in docker init script
  docker/uns-init.sh
Due: none

chores: use user node in docker images
  docker/Dockerfile
Due: none

move user node
  docker/Dockerfile
  docker/integration/forger-commons.yml
Due: none

chores: run tiny in dalinet forgers image
  docker/integration/forger-commons.yml
Due: none

chores: prune branches after fetch in update-upstream script
  scripts/upstream/update-upstream.sh
Due: none

chores: docker do not redirect STDOUT and STDERR
  docker/uns-init.sh
Due: none

release: 3.1.1
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-nft/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chores: remove nohup to start forger process
  docker/uns-init.sh
Due: none

fix: forger must use same plugin than default (signale)
  packages/core/src/commands/forger/run.ts
Due: yarn lint:partial, prettier --write

chores: start forger+relay in single process
  docker/uns-init.sh
Due: none

chores: add no-floating-promise rule
  tslint.json
Due: prettier --write

feat: initialize @uns/crypto:4.0.0-dev package
  packages/uns-crypto/.gitattributes
  packages/uns-crypto/README.md
  packages/uns-crypto/package.json
  packages/uns-crypto/rollup.config.js
  packages/uns-crypto/src/index.ts
  packages/uns-crypto/tsconfig.json
Due: yarn lint:partial, prettier --write

ci: setup circleci workflow
  .circleci/config.yml
Due: none

test: add nftrepository unit test
  __tests__/unit/core-database/repositories/nfts-business-repository.test.ts
Due: yarn lint:partial, prettier --write

feat: use chainmeta-plugin to add chainmeta on some APIs
  packages/core-api/src/handlers/transactions/routes.ts
  packages/core-api/src/handlers/wallets/routes.ts
  packages/core/bin/config/testnet/plugins.js
  packages/core/package.json
Due: yarn lint:partial, prettier --write

add core-nft
  __tests__/unit/core-database/repositories/nfts-business-repository.test.ts
  __tests__/unit/core-nft/managers/constraints.test.ts
  __tests__/unit/core-nft/mocks/core-container.ts
  __tests__/unit/core-nft/mocks/database.ts
  packages/core-blockchain/src/replay/memory-database-service.ts
  packages/core-database-postgres/src/queries/common/truncate-all-tables.sql
  packages/core-database/src/database-service-factory.ts
  packages/core-database/src/database-service.ts
  packages/core-database/src/repositories/nfts-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/nfts-business-repository.ts
  packages/core-interfaces/src/core-database/database-service.ts
  packages/core-nft/.gitattributes
  packages/core-nft/README.md
  packages/core-nft/package.json
  packages/core-nft/src/constraints/constraint.ts
  packages/core-nft/src/constraints/enumeration.ts
  packages/core-nft/src/constraints/error.ts
  packages/core-nft/src/constraints/immutable.ts
  packages/core-nft/src/constraints/index.ts
  packages/core-nft/src/constraints/type/index.ts
  packages/core-nft/src/constraints/type/number.ts
  packages/core-nft/src/defaults.ts
  packages/core-nft/src/index.ts
  packages/core-nft/src/managers/constraints.ts
  packages/core-nft/src/managers/index.ts
  packages/core-nft/src/modifier.ts
  packages/core-nft/src/types.ts
  packages/core-nft/src/utils.ts
  packages/core-nft/tsconfig.json
  packages/uns-crypto/src/constants.ts
  packages/uns-crypto/src/errors.ts
  packages/uns-crypto/src/index.ts
  packages/uns-crypto/src/interfaces/nft.ts
  packages/uns-crypto/src/models/nft.ts
  yarn.lock
Due: yarn lint:partial, prettier --write
