Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:partial, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint:partial", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

feat: add property key pattern constant
  packages/uns-crypto/src/constants.ts
  packages/uns-crypto/src/index.ts
Due: yarn lint:partial, prettier --write

feat: update UNS_NFT_PROPERTY_KEY_REGEX to handle trailing spaces and add tests to test regex with trailing spaces
  __tests__/unit/core-nft/constraints/manager.test.ts
  packages/core-nft/src/constraints/constraint/regex.ts
  packages/uns-crypto/src/constants.ts
Due: yarn lint:partial, prettier --write

feat: add regex constraint on nft properties key
  __tests__/unit/core-nft/constraints/manager.test.ts
  packages/core-nft/package.json
  packages/core-nft/src/constraints/constraint/index.ts
  packages/core-nft/src/constraints/constraint/regex.ts
  packages/core-nft/src/constraints/manager.ts
  packages/core-nft/src/defaults.ts
  packages/core-nft/src/interfaces/constraint-config.ts
Due: yarn lint:partial, prettier --write

feat(uns-badges): set default badges values
  .circleci/config.yml
  packages/core/bin/config/dalinet/plugins.js
  packages/uns-badges/__tests__/__fixtures__/default_badges.ts
  packages/uns-badges/__tests__/badges.test.ts
  packages/uns-badges/__tests__/tsconfig.json
  packages/uns-badges/package.json
  packages/uns-badges/src/defaults.ts
  packages/uns-badges/src/plugin-utils.ts
Due: yarn lint:partial, prettier --write

fix(uns-badges): retrieve and restiture existing badges
  packages/uns-badges/__tests__/__fixtures__/default_badges.ts
  packages/uns-badges/src/plugin-utils.ts
Due: yarn lint:partial, prettier --write

feat: adds UNS delegate register transaction
  __tests__/unit/uns-crypto/builder/uns-delegate-register.test.ts
  __tests__/unit/uns-crypto/builder/uns-disclose-explicit.test.ts
  __tests__/unit/uns-crypto/handlers/handlers.test.ts
  __tests__/unit/uns-crypto/handlers/uns-delegate-register.test.ts
  __tests__/unit/uns-crypto/mocks/core-nft.ts
  packages/core-container/src/config/index.ts
  packages/core-nft/src/index.ts
  packages/core-nft/src/manager.ts
  packages/core-transactions/src/handlers/delegate-registration.ts
  packages/core-transactions/src/handlers/handler-registry.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/crypto/src/networks/dalinet/network.json
  packages/crypto/src/networks/sandbox/network.json
  packages/uns-crypto/src/builders/index.ts
  packages/uns-crypto/src/builders/uns-delegate-register.ts
  packages/uns-crypto/src/enums.ts
  packages/uns-crypto/src/transactions/index.ts
  packages/uns-crypto/src/transactions/uns-delegate-register.ts
  packages/uns-transactions/src/errors.ts
  packages/uns-transactions/src/handlers/index.ts
  packages/uns-transactions/src/handlers/uns-delegate-register.ts
  packages/uns-transactions/src/handlers/utils/helpers.ts
  packages/uns-transactions/src/plugin.ts
Due: yarn lint:partial, prettier --write

refactor(uns-transactions): add nft-mint dependency to disclose explicit transaction
  __tests__/unit/uns-crypto/builder/uns-disclose-explicit.test.ts
  __tests__/unit/uns-crypto/handlers/disclose-explicit.test.ts
  __tests__/unit/uns-crypto/handlers/handlers.test.ts
  __tests__/unit/uns-crypto/transactions/uns-disclose-explicit.test.ts
  packages/uns-transactions/src/handlers/uns-disclose-explicit.ts
Due: yarn lint:partial, prettier --write

feat: adds UNS delegate resign transaction
  __tests__/unit/uns-crypto/builder/uns-delegate-resign.test.ts
  __tests__/unit/uns-crypto/handlers/uns-delegate-resign.test.ts
  __tests__/unit/uns-crypto/mocks/core-container.ts
  packages/core-transactions/src/handlers/delegate-resignation.ts
  packages/crypto/src/networks/dalinet/network.json
  packages/crypto/src/networks/sandbox/network.json
  packages/uns-crypto/src/builders/index.ts
  packages/uns-crypto/src/builders/uns-delegate-resign.ts
  packages/uns-crypto/src/enums.ts
  packages/uns-crypto/src/transactions/index.ts
  packages/uns-crypto/src/transactions/uns-delegate-resign.ts
  packages/uns-transactions/src/errors.ts
  packages/uns-transactions/src/handlers/index.ts
  packages/uns-transactions/src/handlers/uns-delegate-resign.ts
  packages/uns-transactions/src/plugin.ts
Due: yarn lint:partial, prettier --write

chore(uns): auto set package version when publishing
  scripts/uns_publish_rebrand.sh
Due: none

chores: add cron to check dalinet node synchronization
  scripts/check-sync/check-sync
  scripts/check-sync/check-sync.sh
Due: none

chore: remove images older than 7 days
  scripts/upstream/update-upstream.sh
Due: none

ci: make nft, uns and related tests executing before Ark's test (builds will be longer)
  .circleci/config.yml
Due: none

ci: limit resources allocated to Unit tests in order to make them working properly
  .circleci/config.yml
Due: none

ci: optimize CircleCI workflow
  .circleci/config.yml
Due: none

feat: check forge factory credentials 'verifyIssuerCredentials' with a configured forge factories whitelist, (dalinet and sandbox configuration)
  __tests__/unit/uns-crypto/crypto/uns-crypto.test.ts
  packages/crypto/src/networks/dalinet/network.json
  packages/crypto/src/networks/sandbox/network.json
  packages/uns-crypto/src/crypto/uns-crypto.ts
Due: yarn lint:partial, prettier --write

fix: fix tests
  __tests__/unit/uns-crypto/crypto/uns-crypto.test.ts
  __tests__/unit/uns-crypto/handlers/disclose-explicit.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-mint.test.ts
  packages/core-container/src/config/index.ts
Due: yarn lint:partial, prettier --write

chore: initialize forger factory on local dalinet
  packages/core/package.json
  scripts/network_setup/dalinet/setupForgeFactory.js
Due: prettier --write

fix: update upstream script
  scripts/upstream/update-upstream.sh
Due: none

chore: keep only one forging node in network
  docker/integration/docker-compose.yml
Due: none

fix(core-api): search delegate or wallet by username
  packages/core-api/src/handlers/delegates/schema.ts
  packages/core-api/src/handlers/shared/schemas/wallet-id.ts
Due: yarn lint:partial, prettier --write
