Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:config, prettier --write

fix(dalinet): FORGERS_SECRET env var
  docker/integration/docker-compose.yml
Due: none

feat: add properties to uniks routes
  packages/core-api/src/core-nft/handlers/methods.ts
  packages/core-api/src/core-nft/handlers/schema.ts
  packages/core-api/src/core-nft/handlers/transformer.ts
  packages/core-api/src/plugins/pagination/ext.ts
  packages/core-database-postgres/src/core-nft/queries/index.ts
  packages/core-database-postgres/src/core-nft/queries/nfts/nft-with-properties.sql
  packages/core-database-postgres/src/core-nft/repositories/nfts-repository.ts
  packages/core-database/src/core-nft/nfts-business-repository.ts
  packages/core-interfaces/src/core-nft/database/nfts-repository.ts
Due: yarn lint:config, prettier --write

Refactor: badge/properties plugin
  packages/uns-badges/src/defaults.ts
  packages/uns-badges/src/plugin-utils.ts
Due: yarn lint:config, prettier --write

fix: add CosmicNonce property
  packages/uns-badges/__tests__/__fixtures__/default_badges.ts
  packages/uns-badges/src/defaults.ts
Due: yarn lint:config, prettier --write

chore: Change local db path
  .gitignore
  scripts/docker/start-db.sh
Due: none

refactor: rename backup passphrase badge
  packages/uns-badges/__tests__/__fixtures__/default_badges.ts
  packages/uns-badges/src/defaults.ts
Due: yarn lint:config, prettier --write

feat: enable forge factories billing system
  __tests__/unit/uns-crypto/__fixtures__/index.ts
  __tests__/unit/uns-crypto/builder/uns-certified-nft-mint.test.ts
  __tests__/unit/uns-crypto/handlers/disclose-explicit.test.ts
  __tests__/unit/uns-crypto/handlers/handlers.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-mint.test.ts
  __tests__/unit/uns-crypto/signers/signers.test.ts
  __tests__/unit/uns-crypto/transactions/uns-certified-mint.test.ts
  packages/core-nft-crypto/src/transactions/nft-mint.ts
  packages/core-nft-crypto/src/transactions/nft-transfer.ts
  packages/core-nft-crypto/src/transactions/nft-update.ts
  packages/core-nft-crypto/src/transactions/utils/schemas.ts
  packages/uns-crypto/src/builders/uns-certified-nft-common.ts
  packages/uns-crypto/src/interfaces/certification.ts
  packages/uns-crypto/src/interfaces/certified-nft.ts
  packages/uns-crypto/src/transactions/certified-nft-transaction.ts
  packages/uns-crypto/src/transactions/uns-certified-mint/uns-certified-mint.ts
  packages/uns-crypto/src/transactions/uns-certified-update/uns-certified-update.ts
  packages/uns-transactions/src/errors.ts
  packages/uns-transactions/src/handlers/uns-certified-handler.ts
  packages/uns-transactions/src/handlers/uns-certified-nft-mint.ts
  packages/uns-transactions/src/handlers/uns-certified-nft-update.ts
  packages/uns-transactions/src/handlers/uns-disclose-explicit.ts
  packages/uns-transactions/src/handlers/utils/helpers.ts
Due: yarn lint:config, prettier --write

feat: add max length unik ids list for uniks/search api
  packages/core-api/src/core-nft/handlers/schema.ts
  packages/core-database-postgres/src/core-nft/repositories/nfts-repository.ts
Due: yarn lint:config, prettier --write

feat: remove 'unikname' from delegates api
  packages/uns-transactions/src/api/handle-routes.ts
Due: yarn lint:config, prettier --write

fix: uniks api count
  packages/core-database-postgres/src/core-nft/queries/nfts/nft-with-properties.sql
  packages/core-database-postgres/src/core-nft/repositories/nfts-repository.ts
Due: yarn lint:config, prettier --write

fix: certified nft transactions schema
  packages/uns-crypto/src/transactions/certified-nft-transaction.ts
  packages/uns-crypto/src/transactions/uns-certified-mint/uns-certified-mint.ts
  packages/uns-crypto/src/transactions/uns-certified-update/uns-certified-update.ts
Due: yarn lint:config, prettier --write

tests: certified transaction schema
  __tests__/unit/core-nft/transactions/nft-mint.test.ts
  __tests__/unit/core-nft/transactions/nft-update.test.ts
  __tests__/unit/core-nft/transactions/schemas-utils.ts
  __tests__/unit/uns-crypto/__fixtures__/index.ts
  __tests__/unit/uns-crypto/builder/uns-certified-nft-mint.test.ts
  __tests__/unit/uns-crypto/builder/uns-certified-nft-update.test.ts
  __tests__/unit/uns-crypto/builder/uns-certified-nft-utils.ts
Due: yarn lint:config, prettier --write

feat: add LyfeCycle/Status system property default value
  packages/uns-badges/src/defaults.ts
Due: yarn lint:config, prettier --write

chore: ignore Clever-Cloud link file
  .gitignore
Due: none

build: enable Docker Buildkit
  scripts/docker/build.sh
Due: none

ci: enable 'Docker Layer Caching' to speed up docker builds
  .circleci/config.yml
Due: none

chore: release UNS Core 4.2.6
  packages/core-nft-crypto/package.json
  packages/core/package.json
  packages/crypto/package.json
  packages/uns-crypto/package.json
Due: prettier --write

build(docker): force Docker version 12.16
  docker/Dockerfile
Due: none

ci: force to use Docker buildkit and CircleCI Docker Layerto improve build performances
  .circleci/config.yml
  scripts/docker/build.sh
Due: none

ci: build automatically UNS docker image when git tags are published
  .circleci/config.yml
  scripts/docker/publish.sh
Due: none

ci: fix incorrect CC file config
  .circleci/config.yml
Due: none

chore: force 2-space indentation for Yaml files
  .editorconfig
Due: none

ci: require to setup the workspace to build the Docker image
  .circleci/config.yml
Due: none

chore: force Sandbox minimumVersions to ^4.2.7
  .circleci/config.yml
  packages/crypto/src/networks/sandbox/milestones.json
Due: prettier --write

Path conditions:
  yarn lint:config: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
