Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:partial, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint:partial", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

chore: release UNS Core 4.2.4
  packages/core-nft-crypto/package.json
  packages/core-nft/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  packages/crypto/package.json
  packages/uns-crypto/package.json
  packages/uns-transactions/package.json
Due: prettier --write

chore(sandbox): load default peers list when the node starts
  packages/core/bin/config/sandbox/peers.json
Due: prettier --write

chores(dalinet): use dockerHub image
  docker/integration/docker-compose.yml
  scripts/upstream/update-upstream.sh
Due: none

fix: rename check-sync cron file
  scripts/check-sync/cron-check-sync
Due: none

feat(Badges): adds ComsmicNonce Badge
  packages/uns-badges/src/defaults.ts
Due: yarn lint:partial, prettier --write

chores(dalinet): remove unused cron file
  scripts/check-sync/check-sync.cron
Due: none

fix(dalinet): bootnode ip retrieve
  docker/uns-init.sh
Due: none

fix(uns-transaction): remove duplicate explicitValues
  __tests__/unit/uns-crypto/handlers/explicit-value.test.ts
  packages/uns-transactions/src/handlers/utils/helpers.ts
Due: yarn lint:partial, prettier --write

build: rewrite core-nft-crypto version in @uns/crypto with uns_publish_rebrand.sh script
  scripts/uns_publish_rebrand.sh
Due: none

chore: lint only commited files instead of all current modified files
  .lintstagedrc.json
  package.json
Due: prettier --write

ci: disable coverage on less important Ark test suites
  .circleci/config.yml
Due: none

feat: remove 'unikname' from delegates api
  packages/uns-transactions/src/api/handle-routes.ts
Due: yarn lint:partial, prettier --write

chores(dalinet): add bootnode forger3 to forger1
  docker/integration/docker-compose.yml
Due: none

chores(dalinet): protect peer file write
  docker/integration/docker-compose.yml
  docker/uns-init.sh
Due: none

fix: nftTransfer bootstrap
  packages/core-nft/src/transactions/handlers/helpers.ts
Due: yarn lint:partial, prettier --write

Revert "fix: nftTransfer bootstrap"
  packages/core-nft/src/transactions/handlers/helpers.ts
Due: yarn lint:partial, prettier --write

fix: transfer & update handlers uns dependencies
  packages/core-nft/src/transactions/handlers/nft-transfer.ts
  packages/core-nft/src/transactions/handlers/nft-update.ts
Due: yarn lint:partial, prettier --write

chore: release UNS Core 4.2.5
  packages/core-nft-crypto/package.json
  packages/core/package.json
  packages/crypto/package.json
  packages/uns-crypto/package.json
Due: prettier --write

tests: Add NFT transfer handler tests
  __tests__/unit/core-nft/handlers/nft-transfer.test.ts
Due: yarn lint:partial, prettier --write

chores(dalinet): run 3 forgers on a single node
  docker/integration/docker-compose.yml
  scripts/upstream/update-upstream.sh
Due: none

ci(dalinet): remove useless docker down
  scripts/upstream/update-upstream.sh
Due: none
