Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:config, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint:config", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

fix: breaks esm imports
  plugins/uns/uns-crypto/src/builders/index.ts
Due: yarn lint:config, prettier --write

release 5.6.2
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write

ci: fix lerna npm publish
  package.json
Due: prettier --write

chore: update README
  LICENSE
  README.md
Due: prettier --write

chore: rm unused files
  .snyk
  banner.png
  renovate.json
Due: prettier --write

doc: adds quick start setup guide
  README.md
Due: prettier --write

ci: enable Sonar Cloud analysis
  .circleci/config.yml
  sonar-project.properties
Due: none

feat: add mintEvent from milestone
  __tests__/unit/uns-crypto/wallet-state/wallet-manager.test.ts
  packages/core-api/src/handlers/blockchain/controller.ts
  packages/core-database/src/core-nft/nfts-business-repository.ts
  packages/core-interfaces/src/core-nft/database/nfts-business-repository.ts
  packages/core-state/src/wallets/wallet-manager.ts
  packages/crypto/src/managers/config.ts
  packages/crypto/src/networks/dalinet/milestones.json
Due: yarn lint:config, prettier --write

fix: livenet config publish
  docker/Dockerfile
  docker/uns-init.sh
Due: none

chores: update docker labels
  docker/Dockerfile
Due: none

fix: increase rate limit for peers.getBlocks
  packages/core-p2p/src/utils/build-rate-limiter.ts
Due: yarn lint:config, prettier --write

feat: reduce block reward
  packages/crypto/src/networks/dalinet/milestones.json
Due: prettier --write

feat: rename UNS to UNIK
  packages/crypto/src/networks/dalinet/network.json
  packages/crypto/src/networks/livenet/network.json
  packages/crypto/src/networks/sandbox/network.json
Due: prettier --write

feat: remove foundation voucher rewards
  packages/crypto/src/networks/dalinet/milestones.json
Due: prettier --write

chore: update README
  README.md
  plugins/uns/uns-crypto/README.md
Due: prettier --write

feat: update peers url
  packages/core/bin/config/livenet/peers.json
  packages/core/bin/config/sandbox/peers.json
Due: prettier --write

fix: undefined voteBalance
  packages/core-state/src/wallets/wallet-manager.ts
Due: yarn lint:config, prettier --write

feat: check previously voted delegate type before mint
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-mint.test.ts
  plugins/uns/uns-transactions/src/errors.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-mint.ts
Due: yarn lint:config, prettier --write

refactor: unikname rebranding
  plugins/uns/uns-transactions/src/errors.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-mint.ts
Due: yarn lint:config, prettier --write

refactor: certified handlers
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-mint.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-update.ts
  plugins/uns/uns-transactions/src/handlers/utils/helpers.ts
Due: yarn lint:config, prettier --write

feat: add multi arch
  .circleci/config.yml
  scripts/docker/build.sh
  scripts/docker/init.sh
  scripts/docker/publish-multi-arch.sh
  scripts/docker/publish.sh
Due: none

release 5.6.1
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write
