Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:partial, prettier --write

chore: forge factory set up cosmetics
  scripts/network_setup/dalinet/setupForgeFactory.js
Due: none

fix(core-api): search delegate or wallet by username
  packages/core-api/src/handlers/delegates/schema.ts
  packages/core-api/src/handlers/shared/schemas/wallet-id.ts
Due: yarn lint:partial, prettier --write

feat: enable all forgers on dalinet
  docker/integration/docker-compose.yml
Due: none

feat: add unikname in api/delegate route results
  packages/core-database-postgres/src/core-nft/queries/index.ts
  packages/core-database-postgres/src/core-nft/queries/nftproperties/findByKeyBatch.sql
  packages/core-database-postgres/src/core-nft/repositories/nfts-repository.ts
  packages/core-database/src/core-nft/nfts-business-repository.ts
  packages/core-interfaces/src/core-nft/database/nfts-business-repository.ts
  packages/core-interfaces/src/core-nft/database/nfts-repository.ts
  packages/core-nft/src/manager.ts
  packages/core/bin/config/dalinet/plugins.js
  packages/uns-transactions/package.json
  packages/uns-transactions/src/api/delegates.ts
  packages/uns-transactions/src/api/index.ts
  packages/uns-transactions/src/api/plugin.ts
  packages/uns-transactions/src/api/utils.ts
Due: yarn lint:partial, prettier --write

chores: improve dalinet network setup script
  scripts/network_setup/dalinet/setupForgeFactory.js
Due: none

refactor: restitute all properties as string
  packages/uns-badges/__tests__/__fixtures__/default_badges.ts
  packages/uns-badges/__tests__/badges.test.ts
  packages/uns-badges/src/defaults.ts
  packages/uns-badges/src/plugin-utils.ts
Due: yarn lint:partial, prettier --write

refactor(tests): disclose fuctionnal tests
  __tests__/functional/transaction-forging/__support__/nft.ts
  __tests__/functional/transaction-forging/__support__/uns.ts
  __tests__/functional/transaction-forging/disclose-explicit.test.ts
  __tests__/functional/transaction-forging/nft.test.ts
Due: yarn lint:partial, prettier --write

test: UNS delegate functionnal tests
  .circleci/config.yml
  __tests__/functional/transaction-forging/__support__/nft.ts
  __tests__/functional/transaction-forging/__support__/uns.ts
  __tests__/functional/transaction-forging/uns/disclose-explicit.test.ts
  __tests__/functional/transaction-forging/uns/uns.test.ts
  __tests__/unit/crypto/blocks/block.test.ts
Due: yarn lint:partial, prettier --write

release: libs 4.1.0
  packages/crypto/package.json
Due: prettier --write

chore: bump versions and deps to 4.2.0
  packages/core-nft-crypto/package.json
  packages/core-nft/package.json
  packages/core/package.json
  packages/crypto/package.json
  packages/uns-crypto/package.json
  packages/uns-transactions/package.json
Due: prettier --write

feat: enable nft mint for sandbox
  packages/crypto/src/networks/sandbox/network.json
Due: prettier --write

feat: enable nft min transaction for sandbox
  packages/core-nft/src/transactions/handlers/nft-mint.ts
  packages/crypto/src/networks/sandbox/network.json
Due: yarn lint:partial, prettier --write

release: libs 4.1.1
  packages/core/package.json
Due: prettier --write

release: libs 4.1.2
  packages/crypto/package.json
Due: prettier --write

feat: update forgefactory whitelist
  packages/crypto/src/networks/sandbox/network.json
Due: prettier --write

release: libs + core 4.1.3
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

feat: enable uns badges and delegate api with unikname
  packages/core/bin/config/sandbox/plugins.js
Due: none

release: libs + core 4.1.4
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore: down dalinet before up and build
  scripts/upstream/update-upstream.sh
Due: none

feat: limit mint to only one type of unik
  __tests__/unit/uns-crypto/__fixtures__/index.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-mint.test.ts
  __tests__/unit/uns-crypto/signers/signers.test.ts
  __tests__/unit/uns-crypto/transactions/uns-certified-mint.test.ts
  packages/uns-crypto/src/builders/uns-certified-nft-mint.ts
  packages/uns-crypto/src/interfaces/certified-nft.ts
  packages/uns-crypto/src/signers/NftMintDemandCertificationSigner.ts
  packages/uns-crypto/src/signers/NftMintDemandHashBuffer.ts
  packages/uns-crypto/src/signers/NftMintDemandSigner.ts
  packages/uns-crypto/src/signers/index.ts
  packages/uns-crypto/src/transactions/uns-certified-mint/schema.ts
  packages/uns-crypto/src/transactions/uns-certified-mint/uns-certified-mint.ts
  packages/uns-transactions/src/handlers/uns-certified-nft-mint.ts
Due: yarn lint:partial, prettier --write

build: remove unused @arkecosystem/core-interfaces import from @uns/core-nft-crypto
  packages/core-nft-crypto/package.json
Due: prettier --write

Revert "feat: enable all forgers on dalinet"
  docker/integration/docker-compose.yml
Due: none

refactor: ITransactionNftAssetData
  packages/core-nft-crypto/src/builders/nft.ts
  packages/core-nft-crypto/src/interfaces/nft-asset.ts
  packages/uns-crypto/src/interfaces/certified-nft.ts
Due: yarn lint:partial, prettier --write

fix: fix tests
  __tests__/unit/uns-crypto/handlers/handlers.test.ts
Due: yarn lint:partial, prettier --write

feat: rename BlocksForger badge to Delegate
  packages/uns-badges/__tests__/__fixtures__/default_badges.ts
  packages/uns-badges/src/defaults.ts
Due: yarn lint:partial, prettier --write

chore: avoid to updload sed backup files into NPM releases
  scripts/uns_publish_rebrand.sh
Due: none

ci: allow to build dev packages for each commits on develop branch
  .circleci/config.yml
  scripts/publish/uns-dev.sh
Due: none

Path conditions:
  yarn lint:partial: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
