Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:config, prettier --write

feat: allow whitelisted delegate registering
  __tests__/unit/uns-crypto/handlers/uns-delegate-register.test.ts
  packages/core-container/src/config/index.ts
  packages/crypto/src/networks/dalinet/network.json
  packages/crypto/src/networks/sandbox/network.json
  plugins/uns/uns-transactions/src/handlers/uns-delegate-register.ts
Due: yarn lint:config, prettier --write

feat: force votes to same unik type delegate
  __tests__/functional/transaction-forging/__support__/nft.ts
  __tests__/functional/transaction-forging/__support__/uns.ts
  __tests__/functional/transaction-forging/uns/uns.test.ts
  __tests__/unit/core-database/repositories/transactions-business-repository.test.ts
  __tests__/unit/uns-crypto/builder/uns-vote.test.ts
  __tests__/unit/uns-crypto/handlers/uns-vote.test.ts
  packages/core-state/src/wallets/wallet-manager.ts
  plugins/nft/nft-transactions/src/transactions/handlers/helpers.ts
  plugins/uns/uns-crypto/src/builders/index.ts
  plugins/uns/uns-crypto/src/builders/uns-vote.ts
  plugins/uns/uns-crypto/src/enums.ts
  plugins/uns/uns-crypto/src/transactions/index.ts
  plugins/uns/uns-crypto/src/transactions/uns-vote.ts
  plugins/uns/uns-transactions/src/api/handle-routes.ts
  plugins/uns/uns-transactions/src/errors.ts
  plugins/uns/uns-transactions/src/handlers/index.ts
  plugins/uns/uns-transactions/src/handlers/uns-vote.ts
  plugins/uns/uns-transactions/src/plugin.ts
Due: yarn lint:config, prettier --write

chore: disable nft transfer transaction
  packages/crypto/src/networks/sandbox/network.json
  plugins/nft/nft-transactions/src/transactions/handlers/nft-transfer.ts
Due: yarn lint:config, prettier --write

feat: use unsVote transaction in votes api
  __tests__/integration/core-api/handlers/votes.test.ts
  __tests__/integration/core-api/handlers/wallets.test.ts
  packages/core-api/src/handlers/votes/methods.ts
  packages/core-database/src/repositories/transactions-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/transactions-business-repository.ts
Due: yarn lint:config, prettier --write

feat: disable ark legacy vote by milestone
  packages/core-transactions/src/handlers/vote.ts
  packages/crypto/src/networks/dalinet/milestones.json
  packages/crypto/src/networks/sandbox/milestones.json
Due: yarn lint:config, prettier --write

feat: apply voucher rewards by unik type
  __tests__/integration/uns/certified-nft-mint.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-mint-coupon.test.ts
  packages/core-database/src/core-nft/nfts-business-repository.ts
  packages/crypto/src/networks/dalinet/milestones.json
  packages/crypto/src/networks/sandbox/milestones.json
  plugins/uns/uns-transactions/src/handlers/uns-certified-handler.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-mint.ts
Due: yarn lint:config, prettier --write

feat: UNS Livenet init
  packages/core/bin/config/livenet/.env
  packages/core/bin/config/livenet/delegates.json
  packages/core/bin/config/livenet/peers.json
  packages/core/bin/config/livenet/plugins.js
  packages/crypto/src/networks/index.ts
  packages/crypto/src/networks/livenet/exceptions.json
  packages/crypto/src/networks/livenet/genesisBlock.json
  packages/crypto/src/networks/livenet/index.ts
  packages/crypto/src/networks/livenet/milestones.json
  packages/crypto/src/networks/livenet/network.json
  packages/crypto/src/types.ts
Due: yarn lint:config, prettier --write

fix: dalinet init script
  scripts/network_setup/dalinet/setupForgeFactory.js
Due: none

chore: dalinet: update disable ark vote milestone
  packages/crypto/src/networks/dalinet/milestones.json
Due: prettier --write

chores: update uns publish script
  scripts/publish/uns.sh
Due: none

release: 5.1.0
  packages/core-tester-cli/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write

chore: bump to version 5.2.0
  packages/core-tester-cli/package.json
  packages/core/package.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
  scripts/publish/bump.sh
Due: prettier --write

chore: dalinet: fix check sync script
  scripts/check-sync/check-sync
Due: none

Chore: Livenet init part 2
  docker/production/livenet/docker-compose.yml
  docker/uns-init.sh
  packages/core/bin/config/livenet/peers.json
  packages/core/bin/config/livenet/plugins.js
  packages/core/package.json
  packages/crypto/src/networks/livenet/milestones.json
  packages/crypto/src/networks/livenet/network.json
Due: prettier --write

feat: deactivate ark transactions
  packages/core-magistrate-transactions/src/handlers/magistrate-handler.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-lock.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/core-transactions/src/handlers/ipfs.ts
  packages/core-transactions/src/handlers/multi-signature.ts
  packages/crypto/src/networks/livenet/network.json
  packages/crypto/src/networks/sandbox/network.json
Due: yarn lint:config, prettier --write

release: 5.1.1
  packages/core-tester-cli/package.json
  packages/core/package.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write

fix: livenet config loading
  docker/uns-init.sh
  packages/core/bin/config/livenet/plugins.js
  packages/core/bin/config/livenet/sandbox-plugins.js
Due: none

chore: split uns publish and bump scripts
  scripts/publish/bump.sh
  scripts/publish/uns.sh
Due: none

Path conditions:
  yarn lint:config: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
