Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:partial, prettier --write

v3.0.0-alpha.2
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-nft/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  packages/uns-cli/package.json
Due: prettier --write

release: 3.0.0-alpha.2
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-nft/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

feat: use new wallet/{id}/uniks route
  packages/uns-cli/package.json
  packages/uns-cli/src/api.ts
  packages/uns-cli/src/commands/read-wallet.ts
  yarn.lock
Due: yarn lint:partial, prettier --write

release uns-cli to v0.1.0
  packages/uns-cli/package.json
Due: prettier --write

refactor: use new fingerprint service api
  packages/uns-cli/src/api.ts
Due: yarn lint:partial, prettier --write

build: force docker volume name for testnet
  scripts/docker/templates/testnet/docker-compose.yml
Due: none

fix: use unsigned int for nb properties and property key legnth serialization in nftupdate transaction
  packages/crypto/src/transactions/types/nft-update.ts
Due: yarn lint:partial, prettier --write

feat: add verbose flag on create-unik command
  packages/uns-cli/src/baseCommand.ts
  packages/uns-cli/src/baseCommandLogs.ts
  packages/uns-cli/src/commands/create-unik.ts
Due: yarn lint:partial, prettier --write

feat: initialize docker for UNS image
  .dockerignore
  docker/uns/Dockerfile
  docker/uns/build.sh
  docker/uns/docker-compose.yml
  docker/uns/uns-init.sh
Due: none

feat: add some tests for nftupdate transaction serialize/deserialize
  __tests__/unit/crypto/transactions/__fixtures__/nft-update.ts
  __tests__/unit/crypto/transactions/schemas.test.ts
  __tests__/unit/crypto/transactions/types/nft-updates.test.ts
Due: yarn lint:partial, prettier --write

build: improve docker commands
  README.md
  docker/Dockerfile
  docker/production/Dockerfile
  docker/production/LICENSE
  docker/production/README.md
  docker/production/ark-core-docker.png
  docker/production/devnet/devnet.env
  docker/production/devnet/docker-compose-build.yml
  docker/production/devnet/docker-compose.yml
  docker/production/devnet/enc.sh
  docker/production/entrypoint.sh
  docker/production/mainnet/docker-compose-build.yml
  docker/production/mainnet/docker-compose.yml
  docker/production/mainnet/enc.sh
  docker/production/mainnet/mainnet.env
  docker/production/mainnet/purge_all.sh
  docker/production/purge_all.sh
  docker/uns-init.sh
  docker/uns/build.sh
  docker/uns/docker-compose.yml
  package.json
  scripts/docker/development/db.sh
  scripts/docker/development/generate-docker.js
  scripts/docker/development/templates/devnet/Dockerfile
  scripts/docker/development/templates/devnet/docker-compose.yml
  scripts/docker/development/templates/devnet/entrypoint.sh
  scripts/docker/development/templates/devnet/purge_all.sh
  scripts/docker/development/templates/devnet/restore.sh
  scripts/docker/development/templates/mainnet/docker-compose.yml
  scripts/docker/development/templates/testnet/Dockerfile
  scripts/docker/development/templates/testnet/docker-compose.yml
  scripts/docker/development/templates/testnet/entrypoint.sh
  scripts/docker/development/templates/testnet/purge_all.sh
  scripts/docker/development/templates/testnet/restore.sh
  scripts/docker/development/templates/unitnet/docker-compose.yml
  scripts/docker/development/templates/unitnet/purge.sh
  scripts/docker/production/build.sh
  scripts/docker/production/publish.sh
  scripts/docker/templates/devnet/purge_all.sh
Due: prettier --write

build(docker): improve publish task not to tag 'latest' as they aren't required anymore
  scripts/docker/production/publish.sh
Due: none

feat: add new DID Type (NETWORK:3)
  __tests__/unit/crypto/models/did-type.test.ts
  packages/crypto/src/models/did-type.ts
  packages/crypto/src/models/index.ts
  packages/crypto/src/models/unik.ts
  packages/crypto/src/networks/devnet/network.json
  packages/crypto/src/networks/testnet/network.json
  packages/crypto/src/networks/unitnet/network.json
Due: yarn lint:partial, prettier --write

release: 3.0.0-alpha.3
  lerna.json
  package.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-nft/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  packages/uns-cli/package.json
Due: prettier --write

fix: retrieve nft transactions
  __tests__/integration/core-api/v2/handlers/nft.test.ts
  packages/core-api/src/versions/2/nft/methods.ts
  packages/core-database/src/repositories/nfts-business-repository.ts
  packages/core-database/src/repositories/transactions-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/nfts-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/transactions-business-repository.ts
  packages/core-interfaces/src/core-nft/index.ts
  packages/core-interfaces/src/core-nft/nftAsset.ts
  packages/core-interfaces/src/core-nft/nftTransactions.ts
Due: yarn lint:partial, prettier --write

feat: Add verbose mode on status command and fix help
  packages/uns-cli/src/baseCommandLogs.ts
  packages/uns-cli/src/commands/status.ts
Due: yarn lint:partial, prettier --write

feat: Check properties before asking passphrase
  packages/uns-cli/src/commands/set-properties.ts
Due: yarn lint:partial, prettier --write

feat: Modify cold wallet error message. More user friendly to understand that wallet has no UNS tokens needed to pay transaction
  packages/uns-cli/src/api.ts
  packages/uns-cli/src/errorHandler.ts
Due: yarn lint:partial, prettier --write

feat: use sdk for unik types
  packages/uns-cli/package.json
  packages/uns-cli/src/commands/create-unik.ts
  packages/uns-cli/src/types.ts
  yarn.lock
Due: yarn lint:partial, prettier --write

feat: update devnet genesis
  __tests__/integration/core-tester-cli/__fixtures__/block.json
  __tests__/unit/crypto/builder/transactions/__shared__/transaction-builder.ts
  __tests__/unit/crypto/crypto/crypto.test.ts
  __tests__/unit/crypto/crypto/message.test.ts
  __tests__/unit/crypto/crypto/slots.test.ts
  __tests__/unit/crypto/fixtures/block.ts
  __tests__/unit/crypto/identities/fixture.json
  __tests__/unit/crypto/identities/keys.test.ts
  __tests__/unit/crypto/managers/config.test.ts
  __tests__/unit/crypto/models/block.test.ts
  __tests__/unit/crypto/models/delegate.test.ts
  __tests__/unit/crypto/transactions/schemas.test.ts
  __tests__/unit/crypto/validation/keywords.test.ts
  __tests__/unit/uns-cli/formater.test.ts
  __tests__/utils/config/testnet/plugins.js
  __tests__/utils/config/unitnet/plugins.js
  packages/crypto/src/networks/devnet/genesisBlock.json
  packages/crypto/src/networks/devnet/milestones.json
  packages/crypto/src/networks/devnet/network.json
Due: yarn lint:partial, prettier --write

build: add docker bootstrap mode
  docker/production/devnet/bootstrap/docker-compose.yml
  docker/uns-init.sh
Due: none

release: 3.0.0-alpha.4
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-nft/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  packages/uns-cli/package.json
Due: prettier --write

refactor: remove useless default format
  packages/uns-cli/src/commands/status.ts
Due: yarn lint:partial, prettier --write

Path conditions:
  yarn lint:partial: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
