Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:config, prettier --write

fix: nft mint properties bootstrap
  __tests__/integration/uns/certified-nft-mint-v2.test.ts
  __tests__/integration/uns/certified-nft-mint.test.ts
  __tests__/integration/uns/certified-nft-update.test.ts
  __tests__/integration/uns/utils.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-mint.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-mint.ts
Due: yarn lint:config, prettier --write

fix: allow zero fee tx for org and network
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-mint.ts
Due: yarn lint:config, prettier --write

release 5.7.1
  CHANGELOG.md
  lerna.json
  packages/crypto/src/networks/livenet/milestones.json
  plugins/nft/nft-crypto/package.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/uns-crypto/package.json
Due: prettier --write

ci: do not publish version for maintenance branches
  scripts/docker/init.sh
  scripts/publish/uns.sh
Due: none

release 5.7.1
  CHANGELOG.md
  lerna.json
  packages/core/package.json
  packages/crypto/src/networks/livenet/milestones.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write

feat: update to ark 2.7.26
  package.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

chore: lerna version for all packages
  package.json
Due: prettier --write

refactor: use constants to get forgeFactory address
  __tests__/functional/transaction-forging/__support__/nft.ts
  __tests__/functional/transaction-forging/__support__/uns.ts
  __tests__/functional/transaction-forging/uns/certified-mint-v2/certified-mint-voucher-org.test.ts
  __tests__/functional/transaction-forging/uns/certified-mint-v2/certified-mint-voucher.test.ts
  __tests__/functional/transaction-forging/uns/certified-mint-v2/certified-mint.test.ts
  __tests__/functional/transaction-forging/uns/certified-mint.test.ts
  __tests__/functional/transaction-forging/uns/certified-transfer.test.ts
  __tests__/functional/transaction-forging/uns/certified-update-alive.test.ts
  __tests__/functional/transaction-forging/uns/certified-update.test.ts
  __tests__/integration/uns/certified-nft-mint-v2.test.ts
  __tests__/integration/uns/certified-nft-mint.test.ts
  __tests__/integration/uns/certified-nft-transfer.test.ts
  __tests__/integration/uns/certified-nft-update.test.ts
  plugins/uns/uns-crypto/src/crypto/uns-crypto.ts
  plugins/uns/uns-transactions/src/handlers/utils/helpers.ts
Due: yarn lint:config, prettier --write

fix: increase symbol max lenght
  packages/core-p2p/src/schemas.ts
Due: yarn lint:config, prettier --write

chore: remove tokenEcoV3 milestone for sandbox
  packages/crypto/src/networks/sandbox/milestones.json
Due: prettier --write

Revert "fix: increase rate limit for peers.getBlocks"
  packages/core-p2p/src/utils/build-rate-limiter.ts
Due: yarn lint:config, prettier --write

release 5.7.2
  CHANGELOG.md
  lerna.json
  packages/core/package.json
  packages/crypto/src/networks/livenet/milestones.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write

feat: allow multiple types for transactionReader
  packages/core-database-postgres/src/queries/index.ts
  packages/core-database-postgres/src/queries/state-builder/assets-by-type.sql
  packages/core-database-postgres/src/repositories/transactions.ts
  packages/core-database/src/repositories/transactions-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/transactions-business-repository.ts
  packages/core-interfaces/src/core-database/database-repository/transactions-repository.ts
  packages/core-transactions/package.json
  packages/core-transactions/src/transaction-reader.ts
Due: yarn lint:config, prettier --write

feat: batch nft mint database bootstrap
  packages/core-database-postgres/package.json
  packages/core-database-postgres/src/core-nft/repositories/nfts-repository.ts
  packages/core-database-postgres/src/state-builder.ts
  packages/core-interfaces/src/core-nft/database/nfts-repository.ts
  packages/core-transactions/src/handlers/handler-registry.ts
  plugins/nft/nft-transactions/src/manager.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-mint.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-mint.ts
  yarn.lock
Due: yarn lint:config, prettier --write

feat: batch nft update and transfer database bootstrap
  __tests__/integration/uns/certified-nft-transfer.test.ts
  packages/core-database-postgres/src/core-nft/repositories/nfts-repository.ts
  packages/core-database-postgres/src/queries/state-builder/assets-by-type.sql
  packages/core-database-postgres/src/state-builder.ts
  packages/core-interfaces/src/core-database/database-repository/transactions-repository.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-update.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-transfer.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-update.ts
Due: yarn lint:config, prettier --write

Path conditions:
  yarn lint:config: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
