Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:config, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint:config", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

feat: add multi-arch
  .circleci/config.yml
  scripts/docker/build.sh
  scripts/docker/init.sh
  scripts/docker/publish-multi-arch.sh
  scripts/docker/publish.sh
Due: none

tmp add qsvtr branch
  .circleci/config.yml
Due: none

remove duplicated docker build option
  scripts/docker/build.sh
Due: none

remove docker_layer_caching:
  .circleci/config.yml
Due: none

comment tests jobs
  .circleci/config.yml
Due: none

docker caching
  .circleci/config.yml
Due: none

docker caching
  .circleci/config.yml
  scripts/docker/init.sh
  scripts/docker/publish-multi-arch.sh
Due: none

docker experimental
  .circleci/config.yml
  scripts/docker/build.sh
  scripts/docker/init.sh
  scripts/docker/publish-multi-arch.sh
Due: none

feat: add multi-arch
  .circleci/config.yml
  docker/integration/forger-commons.yml
  scripts/docker/build.sh
  scripts/docker/init.sh
  scripts/docker/publish-multi-arch.sh
  scripts/docker/publish.sh
Due: none

feat: add CORE_API_DISABLE_CACHE env variable
  __tests__/functional/transaction-forging/__support__/nft.ts
  packages/core-api/src/defaults.ts
Due: yarn lint:config, prettier --write

feat: tokenEcov3 - remove alive demands from foundation wallet transactions
  __tests__/integration/core-api/handlers/wallets.test.ts
  __tests__/integration/uns/core-api/handlers/wallets-v2.test.ts
  __tests__/integration/uns/core-api/handlers/wallets.test.ts
  packages/core-database-postgres/src/repositories/transactions.ts
  packages/crypto/src/networks/dalinet/milestones.json
Due: yarn lint:config, prettier --write

fix: compute total votes by type from all delegates
  packages/core-database/src/core-nft/nfts-business-repository.ts
  packages/core-database/src/repositories/wallets-business-repository.ts
  packages/core-interfaces/src/core-nft/database/nfts-business-repository.ts
Due: yarn lint:config, prettier --write

feat: compute current total supply from wallet balances
  __tests__/functional/transaction-forging/uns/certified-mint.test.ts
  __tests__/functional/transaction-forging/uns/certified-update-alive.test.ts
  packages/core-api/src/handlers/blockchain/controller.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet-manager.ts
Due: yarn lint:config, prettier --write

chore: update changelog
  CHANGELOG.md
Due: prettier --write

fix: wallet nfts count in api
  packages/core-database-postgres/src/core-nft/repositories/nfts-repository.ts
Due: yarn lint:config, prettier --write

fix: wallet nfts metadata links in api
  packages/core-api/src/core-nft/handlers/controller.ts
Due: yarn lint:config, prettier --write

release 5.6.3
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write

feat: check voter Lifecycle status
  __tests__/functional/transaction-forging/__support__/nft.ts
  __tests__/functional/transaction-forging/__support__/uns.ts
  __tests__/functional/transaction-forging/uns/uns.test.ts
  __tests__/unit/uns-crypto/handlers/uns-vote.test.ts
  __tests__/unit/uns-crypto/mocks/core-nft.ts
  packages/core-database-postgres/src/core-nft/repositories/nfts-repository.ts
  plugins/uns/uns-transactions/src/errors.ts
  plugins/uns/uns-transactions/src/handlers/uns-vote.ts
Due: yarn lint:config, prettier --write

fix: development postgres docker creation script
  scripts/docker/start-db.sh
Due: none

fix: undefined voteBalance
  packages/core-state/src/wallets/wallet-manager.ts
Due: yarn lint:config, prettier --write

fix: force version 5.6.4
  packages/crypto/src/networks/livenet/milestones.json
Due: prettier --write

release 5.6.4
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write
