Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:config, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint:config", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

release: 5.1.2
  packages/core-tester-cli/package.json
  packages/core/package.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write

tests: activate e2e tests
  .circleci/config.yml
  .circleci/load-nvm.sh
  packages/core-database/src/database-service.ts
Due: yarn lint:config, prettier --write

feat: UNS custom delegate ranking
  __tests__/functional/transaction-forging/__support__/nft.ts
  __tests__/functional/transaction-forging/__support__/uns.ts
  __tests__/functional/transaction-forging/uns/uns.test.ts
  __tests__/integration/uns/certified-nft-mint.test.ts
  __tests__/integration/uns/delegate-register.test.ts
  __tests__/unit/uns-crypto/handlers/uns-delegate-register.test.ts
  __tests__/unit/uns-crypto/wallet-state/uns-wallet-state.test.ts
  packages/core-api/package.json
  packages/core-api/src/handlers/delegates/transformer.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/package.json
  packages/core-state/src/wallets/wallet-manager.ts
  packages/crypto/src/networks/dalinet/milestones.json
  packages/crypto/src/networks/livenet/milestones.json
  packages/crypto/src/networks/sandbox/milestones.json
  plugins/uns/uns-crypto/src/utils/index.ts
  plugins/uns/uns-transactions/src/api/handle-routes.ts
  plugins/uns/uns-transactions/src/handlers/uns-delegate-register.ts
Due: yarn lint:config, prettier --write

chore: split uns publish and bump scripts
  .circleci/config.yml
  scripts/publish/bump.sh
  scripts/publish/uns.sh
Due: none

fix: runtime update delegate balance for CertifiedNftMint
  __tests__/functional/transaction-forging/uns/uns.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-mint-coupon.test.ts
  packages/core-state/src/wallets/wallet-manager.ts
  plugins/uns/uns-crypto/src/utils/index.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-handler.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-mint.ts
Due: yarn lint:config, prettier --write

fix: fix typo in wallet state
  packages/core-state/src/wallets/wallet-manager.ts
Due: yarn lint:config, prettier --write

fix: update voteBalance for foundation's delegate
  packages/core-state/src/wallets/wallet-manager.ts
Due: yarn lint:config, prettier --write

chore: split uns publish and bump scripts
  scripts/publish/bump.sh
  scripts/publish/uns.sh
Due: none

release: 5.1.3
  packages/core-tester-cli/package.json
  packages/core/package.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write

feat: limit individual voter weight
  .circleci/config.yml
  __tests__/functional/transaction-forging/uns/uns.test.ts
  __tests__/integration/uns/core-api/handlers/delegates.test.ts
  __tests__/integration/uns/core-api/handlers/nft.test.ts
  __tests__/unit/core-database/repositories/delegates-business-repository.test.ts
  __tests__/unit/uns-crypto/handlers/uns-vote.test.ts
  __tests__/unit/uns-crypto/helpers.ts
  __tests__/unit/uns-crypto/wallet-state/uns-wallet-state.test.ts
  packages/core-api/src/handlers/delegates/transformer.ts
  packages/core-database/package.json
  packages/core-database/src/core-nft/nfts-business-repository.ts
  packages/core-database/src/repositories/transactions-business-repository.ts
  packages/core-database/src/repositories/wallets-business-repository.ts
  packages/core-interfaces/src/core-nft/database/nfts-business-repository.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet-manager.ts
  packages/crypto/src/networks/dalinet/milestones.json
  packages/crypto/src/networks/livenet/milestones.json
  packages/crypto/src/networks/sandbox/milestones.json
  plugins/uns/uns-transactions/src/handlers/uns-delegate-register.ts
Due: yarn lint:config, prettier --write

refactor: use delegate.type attribute
  __tests__/unit/uns-crypto/handlers/uns-vote.test.ts
  plugins/uns/uns-transactions/src/handlers/uns-vote.ts
Due: yarn lint:config, prettier --write

ci: split integration tests
  .circleci/config.yml
  package.json
Due: prettier --write

tmp test ci
  .circleci/config.yml
Due: none

feat: delegate approval depending on type
  __tests__/integration/uns/core-api/handlers/delegates.test.ts
  __tests__/integration/uns/core-api/handlers/nft.test.ts
  __tests__/unit/core-database/repositories/delegates-business-repository.test.ts
  __tests__/unit/uns-crypto/handlers/uns-vote.test.ts
  __tests__/unit/uns-crypto/helpers.ts
  __tests__/unit/uns-crypto/wallet-state/uns-wallet-state.test.ts
  packages/core-database/package.json
  packages/core-database/src/core-nft/nfts-business-repository.ts
  packages/core-database/src/repositories/transactions-business-repository.ts
  packages/core-database/src/repositories/wallets-business-repository.ts
  packages/core-interfaces/src/core-nft/database/nfts-business-repository.ts
  packages/core-state/src/wallets/wallet-manager.ts
Due: yarn lint:config, prettier --write
