Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:partial, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint:partial", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

release: 3.1.0-beta
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-nft/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

feat: limit NFT property value size
  .circleci/config.yml
  __tests__/unit/core-transactions/handler.test.ts
  packages/crypto/src/transactions/types/transaction.ts
Due: yarn lint:partial, prettier --write

test: add integration tests for NFT transactions
  __tests__/integration/core-blockchain/__support__/nft-utils.ts
  __tests__/integration/core-blockchain/__support__/utils.ts
  __tests__/integration/core-blockchain/blockchain.test.ts
  __tests__/integration/core-blockchain/nft-transactions.test.ts
Due: yarn lint:partial, prettier --write

feat: limit NFT property value size
  __tests__/unit/core-transactions/handler.test.ts
  packages/crypto/src/transactions/types/transaction.ts
Due: yarn lint:partial, prettier --write

feat: add field name in schema validation error message
  __tests__/integration/core-api/v2/handlers/transactions.test.ts
  packages/core-http-utils/src/plugins/hapi-ajv.ts
Due: yarn lint:partial, prettier --write

chores: publish image:commit with docker script
  scripts/docker/publish.sh
Due: none

chores: remove ci config generation on pre-commit hook
  scripts/pre-commit.sh
Due: none

test: fix integration p2p tests
  __tests__/integration/core-p2p/server/1.test.ts
  __tests__/integration/core-p2p/server/internal.test.ts
Due: yarn lint:partial, prettier --write

ci: rewrite and improve ci config
  .circleci/config.yml
Due: none

chores: prune branches after fetch in update-upstream script
  scripts/upstream/update-upstream.sh
Due: none

chores: docker do not redirect STDOUT and STDERR
  docker/uns-init.sh
Due: none

chores: use user node in docker images
  docker/Dockerfile
Due: none

chores: run tiny in dalinet forgers image
  docker/integration/forger-commons.yml
Due: none

chores: improve logs in docker init script
  docker/uns-init.sh
Due: none

feat: make apply and revert handlers functions async
  __tests__/integration/core-blockchain/blockchain.test.ts
  __tests__/integration/core-transaction-pool/pool-wallet-manager.test.ts
  __tests__/unit/core-blockchain/processor/handlers/accept-handler.test.ts
  __tests__/unit/core-database/wallet-manager.test.ts
  __tests__/unit/core-transaction-pool/__stubs__/connection.ts
  __tests__/unit/core-transaction-pool/connection.test.ts
  __tests__/unit/core-transaction-pool/guard.test.ts
  __tests__/unit/core-transactions/handler-registry.test.ts
  __tests__/unit/core-transactions/handler.test.ts
  packages/core-api/src/versions/1/transactions/controller.ts
  packages/core-api/src/versions/2/transactions/controller.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/processor/handlers/accept-block-handler.ts
  packages/core-database/src/database-service.ts
  packages/core-database/src/wallet-manager.ts
  packages/core-interfaces/src/core-blockchain/blockchain.ts
  packages/core-interfaces/src/core-database/wallet-manager.ts
  packages/core-interfaces/src/core-transaction-pool/connection.ts
  packages/core-p2p/src/server/versions/internal/handlers/transactions.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/guard.ts
  packages/core-transaction-pool/src/pool-wallet-manager.ts
  packages/core-transactions/src/handlers/delegate-registration.ts
  packages/core-transactions/src/handlers/delegate-resignation.ts
  packages/core-transactions/src/handlers/ipfs.ts
  packages/core-transactions/src/handlers/multi-payment.ts
  packages/core-transactions/src/handlers/multi-signature.ts
  packages/core-transactions/src/handlers/nft-mint.ts
  packages/core-transactions/src/handlers/nft-transfer.ts
  packages/core-transactions/src/handlers/nft-update.ts
  packages/core-transactions/src/handlers/second-signature.ts
  packages/core-transactions/src/handlers/timelock-transfer.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/handlers/transfer.ts
  packages/core-transactions/src/handlers/vote.ts
  packages/core-transactions/src/interfaces.ts
Due: yarn lint:partial, prettier --write

fix: nft integration tests
  __tests__/integration/core-blockchain/__support__/utils.ts
  __tests__/integration/core-blockchain/nft-transactions.test.ts
Due: yarn lint:partial, prettier --write

release new UNS version 3.1.0-beta.0
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-nft/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chores: update peer acceptance to current latest version
  packages/core-p2p/src/defaults.ts
Due: yarn lint:partial, prettier --write

test: fix mocked peer version
  __tests__/unit/core-p2p/mocks/core-container.ts
Due: yarn lint:partial, prettier --write

release: 3.1.0-beta.2
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-nft/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

docs: update release process
  README.md
Due: prettier --write

release: 3.1.0
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-nft/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

move user node
  docker/Dockerfile
  docker/integration/forger-commons.yml
Due: none

fix: schema validation with too long property
  packages/crypto/src/transactions/types/transaction.ts
Due: yarn lint:partial, prettier --write

refactor: expose transaction data schema validation
  packages/crypto/src/transactions/types/transaction.ts
Due: yarn lint:partial, prettier --write
