Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:config, prettier --write

chores: set uns 5.5.0 milestone for sandbox & livenet
  packages/crypto/src/networks/dalinet/milestones.json
  packages/crypto/src/networks/livenet/milestones.json
  packages/crypto/src/networks/sandbox/milestones.json
Due: prettier --write

release 5.5.0
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write

feat: limit vote weight depending on type
  __tests__/unit/uns-crypto/wallet-state/uns-wallet-state.test.ts
  packages/core-api/src/handlers/delegates/transformer.ts
  packages/core-database/src/core-nft/nfts-business-repository.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet-manager.ts
  packages/crypto/src/networks/dalinet/milestones.json
  plugins/uns/uns-transactions/src/handlers/uns-delegate-register.ts
Due: yarn lint:config, prettier --write

feat: move tokenomics v2 milestone one week later
  packages/crypto/src/networks/livenet/milestones.json
Due: prettier --write

feat: add esm build for crypto packages
  plugins/nft/nft-crypto/esm-tsconfig.json
  plugins/nft/nft-crypto/package.json
  plugins/uns/ark-crypto/esm-tsconfig.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/uns-crypto/esm-tsconfig.json
  plugins/uns/uns-crypto/package.json
Due: prettier --write

chore: remove rollup from publish script
  plugins/uns/ark-crypto/package.json
Due: prettier --write

feat: add p2p minimum version for token evo v2 milestone
  packages/crypto/src/networks/dalinet/milestones.json
  packages/crypto/src/networks/livenet/milestones.json
  packages/crypto/src/networks/sandbox/milestones.json
Due: prettier --write

feat: undo voucher fees change in next sandbox milestone
  packages/crypto/src/networks/sandbox/milestones.json
Due: prettier --write

feat: set docker labels
  CHANGELOG.md
  docker/Dockerfile
  scripts/docker/build.sh
Due: prettier --write

release 5.5.1
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write

fix: capped votes computation
  packages/core-state/src/wallets/wallet-manager.ts
Due: yarn lint:config, prettier --write

tests: disable p2p for api tests
  __tests__/functional/transaction-forging/__support__/nft.ts
  __tests__/integration/uns/certified-nft-mint-v2.test.ts
  __tests__/integration/uns/certified-nft-mint.test.ts
  __tests__/integration/uns/certified-nft-update.test.ts
  __tests__/integration/uns/core-api/handlers/delegates.test.ts
  __tests__/integration/uns/core-api/handlers/nft.test.ts
  __tests__/integration/uns/core-api/handlers/wallets-v2.test.ts
  __tests__/integration/uns/core-api/handlers/wallets.test.ts
  __tests__/integration/uns/delegate-register.test.ts
Due: yarn lint:config, prettier --write

tests: move nft status test to functionnal
  __tests__/functional/transaction-forging/uns/certified-mint.test.ts
  __tests__/integration/uns/core-api/handlers/nft.test.ts
Due: yarn lint:config, prettier --write

tests: fix async setup and teardown
  __tests__/functional/transaction-forging/nft.test.ts
  __tests__/functional/transaction-forging/uns/certified-mint-v2.test.ts
  __tests__/functional/transaction-forging/uns/certified-mint.test.ts
  __tests__/functional/transaction-forging/uns/certified-update-alive.test.ts
  __tests__/functional/transaction-forging/uns/certified-update.test.ts
  __tests__/functional/transaction-forging/uns/disclose-explicit.test.ts
  __tests__/functional/transaction-forging/uns/uns.test.ts
Due: yarn lint:config, prettier --write

chores: increase dalinet active delegates
  packages/crypto/src/networks/dalinet/milestones.json
Due: prettier --write

chore: enable builder to pass properties with null value
  plugins/nft/nft-crypto/src/builders/abstract-nft.ts
Due: yarn lint:config, prettier --write

fix: no count estimation ONLY for NFT repository
  packages/core-database-postgres/src/core-nft/repositories/nfts-repository.ts
  packages/core/bin/config/dalinet/plugins.js
  packages/core/bin/config/sandbox/plugins.js
Due: yarn lint:config, prettier --write

release 5.5.2
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write

chore: configure HTTPS to access forger1.dalinet.uns.network
  docker/integration/.gitignore
  docker/integration/docker-compose.yml
Due: none

chore(docker): update default list of forgers
  docker/integration/docker-compose.yml
Due: none

Path conditions:
  yarn lint:config: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
