Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:config, prettier --write

fix: fix api pagination routes
  packages/core-api/src/plugins/pagination/ext.ts
Due: yarn lint:config, prettier --write

fix: don't rebuild local Docker UNS image
  docker/integration/forger-commons.yml
Due: none

chore: release UNS Core 4.2.7
  packages/core-nft-crypto/package.json
  packages/core/package.json
  packages/crypto/package.json
  packages/uns-crypto/package.json
Due: prettier --write

ci: improve tag detection when publishing Docker container
  scripts/docker/publish.sh
Due: none

ci: fix job not triggered on Git tags
  .circleci/config.yml
Due: none

build: restrict build to uns modified packages
  __tests__/unit/core-database/database-service.test.ts
  __tests__/unit/core-magistrate/handlers/bridgechain-update.test.ts
  __tests__/unit/core-magistrate/handlers/business-registration.test.ts
  __tests__/unit/core-magistrate/handlers/business-resignation.test.ts
  __tests__/unit/core-magistrate/handlers/business-update.test.ts
  __tests__/unit/core-magistrate/wallet.test.ts
  __tests__/unit/core-nft/constraints/manager.test.ts
  __tests__/unit/core-webhooks/server.test.ts
  package.json
  packages/core-api/package.json
  packages/crypto/package.json
  scripts/ark_crypto_publish.sh
  scripts/publish/uns-dev.sh
  scripts/publish/uns.sh
  scripts/uns_publish_rebrand.sh
  scripts/utils.sh
  yarn.lock
Due: yarn lint:config, prettier --write

ci: improve cache management
  .circleci/config.yml
Due: none

build: add global 'compile' Yarn task
  package.json
Due: prettier --write

fix(uns-transactions): add tx boostrap for mint with cost
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-mint.ts
Due: yarn lint:config, prettier --write

refactor: certified/disclose transactions code factorization
  __tests__/unit/uns-crypto/__fixtures__/index.ts
  __tests__/unit/uns-crypto/builder/uns-disclose-explicit.test.ts
  __tests__/unit/uns-crypto/handlers/handlers.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-mint.test.ts
  __tests__/unit/uns-crypto/helpers.ts
  __tests__/unit/uns-crypto/transactions/uns-disclose-explicit.test.ts
  plugins/uns/uns-transactions/src/errors.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-handler.ts
  plugins/uns/uns-transactions/src/handlers/uns-disclose-explicit.ts
  plugins/uns/uns-transactions/src/handlers/utils/helpers.ts
Due: yarn lint:config, prettier --write

feat: enable NFT mint with coupon
  __tests__/functional/transaction-forging/__support__/uns.ts
  __tests__/functional/transaction-forging/uns/certified-mint.test.ts
  __tests__/integration/uns/certified-nft-mint.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-mint-coupon.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-mint.test.ts
  __tests__/unit/uns-crypto/helpers.ts
  __tests__/utils/config/dalinet/genesisBlock.json
  packages/core-container/src/config/index.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/crypto/src/interfaces/networks.ts
  packages/crypto/src/networks/dalinet/milestones.json
  packages/crypto/src/networks/dalinet/network.json
  plugins/uns/uns-crypto/src/enums.ts
  plugins/uns/uns-transactions/package.json
  plugins/uns/uns-transactions/src/errors.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-handler.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-mint.ts
  scripts/uns_publish_rebrand.sh
Due: yarn lint:config, prettier --write

tests: remove MaxListenersExceededWarning warning
  __tests__/setupTests.ts
  package.json
Due: yarn lint:config, prettier --write

ci: split jobs for uns functionnal tests
  .circleci/config.yml
Due: none

test: fix socket test
  __tests__/integration/core-p2p/socket-server/peer.test.ts
  tslint.json
Due: yarn lint:config, prettier --write

feat: remove passphrase backup badge
  plugins/uns/uns-badges/__tests__/__fixtures__/default_badges.ts
  plugins/uns/uns-badges/src/defaults.ts
Due: yarn lint:config, prettier --write

Bump version 5.0.1
  packages/core-tester-cli/package.json
  packages/core/package.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write

Revert "test: fix socket test"
  __tests__/integration/core-p2p/socket-server/peer.test.ts
  tslint.json
Due: yarn lint:config, prettier --write

ci: run build with new CC cache
  .circleci/config.yml
Due: none

build: update yarn.lock
  yarn.lock
Due: none

test: set CI CORE_API_RATE_LIMIT_USER_LIMIT to 300
  .circleci/config.yml
Due: none

chore: update mildestone block 1 for unik voucher uns rewards
  packages/crypto/src/networks/sandbox/milestones.json
Due: prettier --write

Path conditions:
  yarn lint:config: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
