Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:config, prettier --write

chore: add uns foundation pubkey for unik creation reward
  packages/crypto/src/networks/sandbox/network.json
Due: prettier --write

chore: disable API rate limit on DALINET nodes
  docker/integration/forger-commons.yml
Due: none

chore: update mildestone block 1 for unik voucher uns rewards
  packages/crypto/src/networks/sandbox/milestones.json
Due: prettier --write

fix: coldwalletError witch voucher mint
  packages/core-transactions/src/handlers/transaction.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-mint.ts
Due: yarn lint:config, prettier --write

chore: fix DALINET deployment
  docker/integration/forger-commons.yml
Due: none

tests: mint from coldWallet using voucher
  __tests__/functional/transaction-forging/uns/certified-mint.test.ts
Due: yarn lint:config, prettier --write

fix: certified mint bootstrap missing token attribute
  __tests__/integration/uns/certified-nft-mint.test.ts
  plugins/nft/nft-transactions/src/transactions/handlers/index.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-mint.ts
Due: yarn lint:config, prettier --write

release 5.0.1
  packages/crypto/src/networks/dalinet/milestones.json
  packages/crypto/src/networks/sandbox/milestones.json
Due: prettier --write

chore: improve type-safety of error constructors
  plugins/nft/nft-transactions/src/errors.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-transfer.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-update.ts
  plugins/uns/uns-transactions/src/handlers/uns-delegate-register.ts
  plugins/uns/uns-transactions/src/handlers/uns-disclose-explicit.ts
Due: yarn lint:config, prettier --write

release: 5.0.2
  packages/core-tester-cli/package.json
  packages/core/package.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write

release: 5.0.2
  packages/core-tester-cli/package.json
  packages/core/package.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write

bump next version 5.1.0
  package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  packages/crypto/src/networks/dalinet/milestones.json
  packages/crypto/src/networks/sandbox/milestones.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
  yarn.lock
Due: prettier --write

feat: force votes to same unik type delegate
  __tests__/unit/uns-crypto/builder/uns-vote.test.ts
  __tests__/unit/uns-crypto/handlers/uns-vote.test.ts
  plugins/uns/uns-crypto/src/builders/index.ts
  plugins/uns/uns-crypto/src/builders/uns-vote.ts
  plugins/uns/uns-crypto/src/enums.ts
  plugins/uns/uns-crypto/src/transactions/index.ts
  plugins/uns/uns-crypto/src/transactions/uns-vote.ts
  plugins/uns/uns-transactions/src/errors.ts
  plugins/uns/uns-transactions/src/handlers/index.ts
  plugins/uns/uns-transactions/src/handlers/uns-vote.ts
  plugins/uns/uns-transactions/src/plugin.ts
Due: yarn lint:config, prettier --write

feat: disable ark legacy vote by milestone
  packages/core-transactions/src/handlers/vote.ts
  packages/crypto/src/networks/dalinet/milestones.json
  packages/crypto/src/networks/sandbox/milestones.json
Due: yarn lint:config, prettier --write

Dalinet: fix disable of ark vote milestone height
  packages/crypto/src/networks/dalinet/milestones.json
Due: prettier --write

fix: retrieve UNS supply and delegate approvals percentage
  __tests__/unit/core-database/database-service.test.ts
  __tests__/unit/core-database/repositories/delegates-business-repository.test.ts
  __tests__/unit/core-database/repositories/wallets-business-repository.test.ts
  package.json
  packages/core-api/src/core-nft/handlers/methods.ts
  packages/core-api/src/handlers/blockchain/controller.ts
  packages/core-api/src/handlers/bridgechains/methods.ts
  packages/core-api/src/handlers/businesses/methods.ts
  packages/core-api/src/handlers/delegates/methods.ts
  packages/core-api/src/handlers/delegates/transformer.ts
  packages/core-api/src/handlers/locks/methods.ts
  packages/core-api/src/handlers/wallets/methods.ts
  packages/core-database/src/core-nft/nfts-business-repository.ts
  packages/core-database/src/database-service-factory.ts
  packages/core-database/src/database-service.ts
  packages/core-database/src/repositories/utils/search-entries.ts
  packages/core-database/src/repositories/wallets-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/wallets-business-repository.ts
  packages/core-interfaces/src/core-database/database-service.ts
  packages/core-interfaces/src/core-nft/database/nfts-business-repository.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-utils/src/delegate-calculator.ts
  packages/core-utils/src/index.ts
  packages/crypto/src/networks/dalinet/milestones.json
  packages/crypto/src/networks/sandbox/milestones.json
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-mint.ts
  yarn.lock
Due: yarn lint:config, prettier --write

feat: allow whitelisted delegate registering
  __tests__/unit/uns-crypto/handlers/uns-delegate-register.test.ts
  packages/core-container/src/config/index.ts
  packages/crypto/src/networks/dalinet/network.json
  packages/crypto/src/networks/sandbox/network.json
  plugins/uns/uns-transactions/src/handlers/uns-delegate-register.ts
Due: yarn lint:config, prettier --write

Path conditions:
  yarn lint:config: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
