Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:partial, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint:partial", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

feat: rewrite process argument --help
  packages/uns-cli/bin/run
Due: none

feat: add info on current node on verbose for each command
  packages/uns-cli/src/baseCommand.ts
Due: yarn lint:partial, prettier --write

fix: display error on sendTransaction technical error
  packages/uns-cli/src/api.ts
  packages/uns-cli/src/commands/create-unik.ts
Due: yarn lint:partial, prettier --write

fix: Disblay length error if explicitValue is too long on create-unik
  packages/uns-cli/src/commands/create-unik.ts
Due: yarn lint:partial, prettier --write

fix: remove spaces from status result attributes
  packages/uns-cli/src/commands/status.ts
Due: yarn lint:partial, prettier --write

fix: check unikid format on read-unik
  packages/uns-cli/src/commands/read-unik.ts
Due: yarn lint:partial, prettier --write

fix: fix property parser
  packages/uns-cli/src/commands/set-properties.ts
Due: yarn lint:partial, prettier --write

feat: nft update rollback
  __tests__/integration/core-blockchain/blockchain.test.ts
  __tests__/integration/core-blockchain/nft.test.ts
  __tests__/integration/core-blockchain/utils.ts
  packages/core-database-postgres/src/repositories/nfts.ts
  packages/core-database/src/database-service.ts
  packages/core-nft/src/handlers/event.ts
  packages/core-nft/src/handlers/transactions/update.ts
  packages/core-transactions/src/handlers/nft-update.ts
Due: yarn lint:partial, prettier --write

feat did-resolve command
  packages/core-api/src/versions/2/nft/controller.ts
  packages/uns-cli/package.json
  packages/uns-cli/src/baseCommand.ts
  packages/uns-cli/src/commands/did-resolve.ts
  packages/uns-cli/src/commands/get-properties.ts
  packages/uns-cli/src/readCommand.ts
  packages/uns-cli/src/types.ts
  packages/uns-cli/src/utils.ts
  yarn.lock
Due: yarn lint:partial, prettier --write

feat: enable the warn-if-update-available OClif plugin
  packages/uns-cli/package.json
  yarn.lock
Due: prettier --write

refactor: error wording
  packages/uns-cli/src/commands/did-resolve.ts
Due: yarn lint:partial, prettier --write

release v0.3.0-beta
  packages/uns-cli/package.json
  yarn.lock
Due: prettier --write

doc: add did-resolve command readme documentation
  packages/uns-cli/README.md
Due: prettier --write

refactor: fix typo in nftupdateTransactionStruct
  __tests__/unit/crypto/transactions/__fixtures__/nft-update.ts
  __tests__/unit/crypto/transactions/schemas.test.ts
  __tests__/unit/crypto/transactions/types/nft-updates.test.ts
Due: yarn lint:partial, prettier --write

refactor: delete INftTx and use ITransactionData
  __tests__/integration/core-api/v2/handlers/nft.test.ts
  packages/core-api/src/versions/2/nft/methods.ts
  packages/core-database/src/repositories/transactions-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/transactions-business-repository.ts
  packages/core-interfaces/src/core-nft/index.ts
  packages/core-interfaces/src/core-nft/nftTransactions.ts
Due: yarn lint:partial, prettier --write

release: 3.1.0-alpha.0
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-nft/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix: dalinet explorer url
  packages/crypto/src/networks/dalinet/network.json
Due: prettier --write

test(integ): add test for NFT Mint and NFT Transfer
  __tests__/integration/core-blockchain/blockchain.test.ts
  __tests__/integration/core-blockchain/nft.test.ts
  __tests__/integration/core-blockchain/utils.ts
Due: yarn lint:partial, prettier --write

fix: revert of nft mint/transfer transactions
  packages/core-database-postgres/src/repositories/nfts.ts
  packages/core-database/src/database-service.ts
  packages/core-nft/src/handlers/event.ts
Due: yarn lint:partial, prettier --write

chores: use docker-compose to start dalinet, move dalinet d-c forger secrets to .env file, fix bash script
  docker/integration/docker-compose.yml
  scripts/docker/build.sh
  scripts/docker/development/db.sh
  scripts/docker/publish.sh
  scripts/upstream/check-uns-update
  scripts/upstream/update-upstream.sh
Due: none

chores: fix update-upstream script
  scripts/upstream/update-upstream.sh
Due: none

chores: fix update-upstream script (run d-c in detached mode)
  scripts/upstream/update-upstream.sh
Due: none

feat: remove cli from uns-core repository transfered to https://github.com/unik-name/uns-cli
  .circleci/config.yml
  __tests__/unit/uns-cli/formater.test.ts
  packages/uns-cli/.gitattributes
  packages/uns-cli/.gitignore
  packages/uns-cli/.npmignore
  packages/uns-cli/README.md
  packages/uns-cli/bin/run
  packages/uns-cli/bin/run.cmd
  packages/uns-cli/package.json
  packages/uns-cli/src/api.ts
  packages/uns-cli/src/baseCommand.ts
  packages/uns-cli/src/commands/create-unik.ts
  packages/uns-cli/src/commands/create-wallet.ts
  packages/uns-cli/src/commands/did-resolve.ts
  packages/uns-cli/src/commands/get-properties.ts
  packages/uns-cli/src/commands/read-unik.ts
  packages/uns-cli/src/commands/read-wallet.ts
  packages/uns-cli/src/commands/set-properties.ts
  packages/uns-cli/src/commands/status.ts
  packages/uns-cli/src/commands/unset-properties.ts
  packages/uns-cli/src/commands/version.ts
  packages/uns-cli/src/config.ts
  packages/uns-cli/src/errorHandler.ts
  packages/uns-cli/src/formater.ts
  packages/uns-cli/src/index.ts
  packages/uns-cli/src/readCommand.ts
  packages/uns-cli/src/types.ts
  packages/uns-cli/src/updatePropertiesCommand.ts
  packages/uns-cli/src/utils.ts
  packages/uns-cli/src/writeCommand.ts
  packages/uns-cli/tsconfig.json
  yarn.lock
Due: yarn lint:partial, prettier --write

feat: limit NFT property value size
  __tests__/unit/core-transactions/handler.test.ts
  packages/crypto/src/errors.ts
  packages/crypto/src/transactions/types/transaction.ts
Due: yarn lint:partial, prettier --write

test: add integration tests for NFT transactions
  .circleci/config.yml
  __tests__/integration/core-blockchain/__support__/nft-utils.ts
  __tests__/integration/core-blockchain/__support__/utils.ts
  __tests__/integration/core-blockchain/blockchain.test.ts
  __tests__/integration/core-blockchain/nft-transactions.test.ts
Due: yarn lint:partial, prettier --write

feat: limit NFT property value size
  .circleci/config.yml
  __tests__/unit/core-transactions/handler.test.ts
  packages/crypto/src/transactions/types/transaction.ts
Due: yarn lint:partial, prettier --write
