Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:partial, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint:partial", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

test(uns-crypto): disclose explicit builder and serde
  __tests__/unit/uns-crypto/__fixtures__/index.ts
  __tests__/unit/uns-crypto/builder/nft-transfer.test.ts
  __tests__/unit/uns-crypto/builder/uns-disclose-explicit.test.ts
  __tests__/unit/uns-crypto/helpers.ts
  __tests__/unit/uns-crypto/transactions/uns-disclose-explicit.test.ts
Due: yarn lint:partial, prettier --write

test(core-nft): fix imports
  __tests__/unit/core-nft/constraints/manager.test.ts
  __tests__/unit/core-nft/constraints/utils.test.ts
  __tests__/unit/core-nft/handlers/nft-mint.test.ts
Due: yarn lint:partial, prettier --write

feat: restore testnet config to default
  packages/core/bin/config/testnet/plugins.js
Due: none

chores: clean useless ark files changes and add comments arroud uns changes
  __tests__/unit/core-database/__fixtures__/database-connection-stub.ts
  packages/core-database/src/repositories/transactions-business-repository.ts
  packages/core-state/src/wallets/wallet-manager.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transactions/src/interfaces.ts
Due: yarn lint:partial, prettier --write

test(core-nft): nft update and transfer can be apply
  __tests__/unit/core-nft/__fixtures__/index.ts
  __tests__/unit/core-nft/handlers/nft-transfer.test.ts
  __tests__/unit/core-nft/handlers/nft-update.test.ts
  __tests__/unit/core-nft/mocks/core-container.ts
  __tests__/unit/core-nft/mocks/core-nft.ts
  packages/core-nft/src/transactions/handlers/nft-transfer.ts
Due: yarn lint:partial, prettier --write

fix: remove wallet owns tokens property check
  packages/core-nft/src/transactions/handlers/nft-mint.ts
Due: yarn lint:partial, prettier --write

refactor: move properties length check after wallet owner
  packages/core-nft/src/transactions/handlers/nft-update.ts
Due: yarn lint:partial, prettier --write

chores: fix start db script
  scripts/docker/start-db.sh
Due: none

test(core-nft): refactor nft-mint tx can be applied tests
  __tests__/unit/core-nft/handlers/mocks/core-container.ts
  __tests__/unit/core-nft/handlers/nft-mint.test.ts
Due: yarn lint:partial, prettier --write

feat: add dalnet delegates
  packages/core/bin/config/dalinet/delegates.json
Due: prettier --write

feat: add localhost peeer for dalinet node
  packages/core/bin/config/dalinet/peers.json
Due: prettier --write

test: add dalinet core-forger plugin config
  packages/core/bin/config/dalinet/plugins.js
Due: none

test: add dalinet in dev environment list for socket config
  packages/core-p2p/src/socket-server/index.ts
Due: yarn lint:partial, prettier --write

test(core-nft): add nft mint functional test
  __tests__/functional/transaction-forging/__support__/nft.ts
  __tests__/functional/transaction-forging/nft-mint.test.ts
Due: yarn lint:partial, prettier --write

test: refactor functional setup helpers to take external configuration
  __tests__/functional/transaction-forging/__support__/index.ts
  __tests__/utils/helpers/container.ts
Due: yarn lint:partial, prettier --write

fix(core-state): check delegate username existance to add it to active list
  packages/core-state/src/wallets/wallet-manager.ts
Due: yarn lint:partial, prettier --write

fix(core-nft): apply transfer transaction
  packages/core-nft/src/transactions/handlers/helpers.ts
  packages/core-nft/src/transactions/handlers/nft-mint.ts
  packages/core-nft/src/transactions/handlers/nft-transfer.ts
Due: yarn lint:partial, prettier --write

test(core-nft): add nft functional tests
  __tests__/functional/transaction-forging/__support__/nft-jest-matchers.ts
  __tests__/functional/transaction-forging/__support__/nft.ts
  __tests__/functional/transaction-forging/nft-mint.test.ts
  __tests__/functional/transaction-forging/nft.test.ts
Due: yarn lint:partial, prettier --write

test(uns-crypto): externalize uns-crypto fixtures
  __tests__/unit/uns-crypto/__fixtures__/index.ts
  __tests__/unit/uns-crypto/crypto/uns-crypto.test.ts
Due: yarn lint:partial, prettier --write

test(core-nft): nft-update serde
  __tests__/unit/core-nft/transactions/nft-update.test.ts
Due: yarn lint:partial, prettier --write

test(core-nft): transaction registry
  __tests__/unit/core-nft/handlers/handlers.test.ts
Due: yarn lint:partial, prettier --write

test(core-nft): nft-mint serde refactor
  __tests__/unit/core-nft/__fixtures__/index.ts
  __tests__/unit/core-nft/helper.ts
  __tests__/unit/core-nft/helpers.ts
  __tests__/unit/core-nft/transactions/nft-mint.test.ts
Due: yarn lint:partial, prettier --write

test(uns-crypto): did-types models
  __tests__/unit/uns-crypto/models/did-type.test.ts
Due: yarn lint:partial, prettier --write

test(core-nft): nft-transfer serde
  __tests__/unit/core-nft/transactions/nft-transfer.test.ts
Due: yarn lint:partial, prettier --write

test(core-nft): nft builders
  __tests__/unit/core-nft/__fixtures__/index.ts
  __tests__/unit/core-nft/builder/nft-transfer.test.ts
  __tests__/unit/core-nft/builder/nft-update.test.ts
  packages/crypto/src/transactions/factory.ts
Due: yarn lint:partial, prettier --write
