Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:partial, prettier --write

test(core-nft): refactor nft-mint tx can be applied tests
  __tests__/unit/core-nft/handlers/mocks/core-container.ts
  __tests__/unit/core-nft/handlers/nft-mint.test.ts
Due: yarn lint:partial, prettier --write

test: refactor functional setup helpers to take external configuration
  __tests__/functional/transaction-forging/__support__/index.ts
  __tests__/utils/helpers/container.ts
Due: yarn lint:partial, prettier --write

feat: add localhost peeer for dalinet node
  packages/core/bin/config/dalinet/peers.json
Due: prettier --write

test(core-nft): constraints manager
  __tests__/helpers/nft-transaction-factory.ts
  __tests__/unit/core-nft/__fixtures__/index.ts
  __tests__/unit/core-nft/constraints/manager.test.ts
  __tests__/unit/core-nft/constraints/utils.test.ts
  __tests__/unit/core-nft/mocks/core-container.ts
  __tests__/unit/core-nft/mocks/database-manager.ts
  packages/core-nft/src/constraints/manager.ts
  packages/core-nft/src/constraints/utils.ts
  packages/core-nft/src/interfaces/constraint-config.ts
Due: yarn lint:partial, prettier --write

chores: add forgers passphrases in docker-compose
  docker/integration/docker-compose.yml
Due: none

feat: add @uns/logger-pino for dalinet network
  packages/core/bin/config/dalinet/plugins.js
  packages/core/src/commands/forger/run.ts
  packages/core/src/helpers/replay.ts
  packages/core/src/helpers/snapshot.ts
  packages/logger-pino/.gitattributes
  packages/logger-pino/README.md
  packages/logger-pino/package.json
  packages/logger-pino/src/defaults.ts
  packages/logger-pino/src/driver.ts
  packages/logger-pino/src/index.ts
  packages/logger-pino/src/plugin.ts
  packages/logger-pino/tsconfig.json
Due: yarn lint:partial, prettier --write

chores: add full:dalinet yarn script
  packages/core/package.json
Due: prettier --write

ci: add nft functional tests
  .circleci/config.yml
Due: none

test(core-nft): fix functional test node logger
  __tests__/functional/transaction-forging/__support__/nft.ts
Due: yarn lint:partial, prettier --write

chores: fix synchronization issues between dalinet nodes
  docker/uns-init.sh
Due: none

refactor(uns-transactions): set explicit values
  __tests__/unit/uns-crypto/__stubs__/core-nft.ts
  __tests__/unit/uns-crypto/handlers/set-explicit-value.test.ts
  packages/uns-transactions/src/handlers/utils/helpers.ts
Due: yarn lint:partial, prettier --write

feat: add {nft}s/status API TP #1683
  packages/core-api/src/core-nft/handlers/controller.ts
  packages/core-api/src/core-nft/handlers/methods.ts
  packages/core-api/src/core-nft/handlers/routes.ts
  packages/core-api/src/core-nft/handlers/schema.ts
  packages/core-database-postgres/src/core-nft/models/index.ts
  packages/core-database-postgres/src/core-nft/models/nft-status.ts
  packages/core-database-postgres/src/core-nft/queries/index.ts
  packages/core-database-postgres/src/core-nft/queries/nftproperties/status.sql
  packages/core-database-postgres/src/core-nft/repositories/nfts-repository.ts
  packages/core-database/src/core-nft/nfts-business-repository.ts
  packages/core/bin/config/dalinet/plugins.js
Due: yarn lint:partial, prettier --write

chores: remove duplicate chainmeta plugin in dalinet config
  packages/core/bin/config/dalinet/plugins.js
Due: none

feat: setup sandbox network
  docker/production/sandbox/docker-compose.yml
  docker/uns-init.sh
  packages/core/bin/config/sandbox/.env
  packages/core/bin/config/sandbox/delegates.json
  packages/core/bin/config/sandbox/peers.json
  packages/core/bin/config/sandbox/plugins.js
  packages/core/package.json
  packages/crypto/src/networks/index.ts
  packages/crypto/src/networks/sandbox/exceptions.json
  packages/crypto/src/networks/sandbox/genesisBlock.json
  packages/crypto/src/networks/sandbox/index.ts
  packages/crypto/src/networks/sandbox/milestones.json
  packages/crypto/src/networks/sandbox/network.json
  packages/crypto/src/types.ts
Due: yarn lint:partial, prettier --write

wip add tests
  __tests__/integration/core-api/core-nft/handlers/nft.test.ts
Due: yarn lint:partial, prettier --write

feat: add nfts/status API tests
  __tests__/integration/core-api/core-nft/handlers/nft.test.ts
Due: yarn lint:partial, prettier --write

chores: fix upgrade upstream script
  scripts/upstream/update-upstream.sh
Due: none

fix: force 'db' type to fix typing inconsistency
  packages/core-database-postgres/src/core-nft/repositories/nfts-repository.ts
Due: yarn lint:partial, prettier --write

test: allow VSCode to recognize Jest global methods
  __tests__/tsconfig.json
Due: prettier --write

ci: upgrade docker executor sizes to increase tests allocated resources
  .circleci/config.yml
Due: none

refactor: nfts/status API refactoring
  __tests__/integration/core-api/core-nft/handlers/nft.test.ts
  packages/core-api/src/core-nft/handlers/controller.ts
  packages/core-api/src/core-nft/handlers/methods.ts
  packages/core-api/src/core-nft/handlers/routes.ts
  packages/core-api/src/core-nft/handlers/schema.ts
  packages/core-database-postgres/src/core-nft/migrations/20191213100000-createnftproperties-type-index.sql
  packages/core-database-postgres/src/core-nft/queries/index.ts
  packages/core-database-postgres/src/core-nft/queries/nftproperties/unikStatus.sql
  packages/core-database-postgres/src/core-nft/repositories/nfts-repository.ts
  packages/core/bin/config/dalinet/plugins.js
Due: yarn lint:partial, prettier --write

Path conditions:
  yarn lint:partial: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
