Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:partial, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint:partial", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

refactor: nfts/status API refactoring
  __tests__/integration/core-api/core-nft/handlers/nft.test.ts
  packages/core-api/src/core-nft/handlers/controller.ts
  packages/core-api/src/core-nft/handlers/methods.ts
  packages/core-api/src/core-nft/handlers/routes.ts
  packages/core-api/src/core-nft/handlers/schema.ts
  packages/core-database-postgres/src/core-nft/migrations/20191213100000-createnftproperties-type-index.sql
  packages/core-database-postgres/src/core-nft/queries/index.ts
  packages/core-database-postgres/src/core-nft/queries/nftproperties/unikStatus.sql
  packages/core-database-postgres/src/core-nft/repositories/nfts-repository.ts
  packages/core/bin/config/dalinet/plugins.js
Due: yarn lint:partial, prettier --write

feat(core-nft): add revert for nft update transaction
  __tests__/unit/core-nft/__fixtures__/nft-revert.ts
  __tests__/unit/core-nft/handlers/revert-nft.test.ts
  packages/core-database-postgres/src/core-nft/queries/index.ts
  packages/core-database-postgres/src/core-nft/queries/transactions/find-by-asset.sql
  packages/core-database-postgres/src/core-nft/repositories/nfts-repository.ts
  packages/core-database/src/core-nft/nfts-business-repository.ts
  packages/core-interfaces/src/core-nft/database/nfts-business-repository.ts
  packages/core-interfaces/src/core-nft/database/nfts-repository.ts
  packages/core-nft/src/transactions/handlers/helpers.ts
  packages/core-nft/src/transactions/handlers/nft-update.ts
Due: yarn lint:partial, prettier --write

feat(uns-transactions): add revert for disclose transaction
  packages/uns-transactions/src/handlers/uns-disclose-explicit.ts
  packages/uns-transactions/src/handlers/utils/helpers.ts
Due: yarn lint:partial, prettier --write

feat(core): force dalinet log level to debug
  packages/core/bin/config/dalinet/.env
Due: none

fix: revertProperties not available (to revert)
  packages/core-nft/src/index.ts
  packages/core-nft/src/transactions/handlers/helpers.ts
  packages/core/package.json
  packages/uns-transactions/src/handlers/uns-disclose-explicit.ts
Due: yarn lint:partial, prettier --write

fix: fix disclose demand payload schema
  packages/uns-crypto/src/transactions/uns-disclose-explicit/schema.ts
Due: yarn lint:partial, prettier --write

test: disclose explicit transaction tests
  __tests__/functional/transaction-forging/__support__/nft-jest-matchers.ts
  __tests__/functional/transaction-forging/__support__/nft.ts
  __tests__/functional/transaction-forging/__support__/uns.ts
  __tests__/functional/transaction-forging/disclose-explicit.test.ts
  __tests__/unit/uns-crypto/__fixtures__/index.ts
  __tests__/unit/uns-crypto/handlers/disclose-explicit.test.ts
  __tests__/unit/uns-crypto/handlers/explicit-value.test.ts
  __tests__/unit/uns-crypto/handlers/handlers.test.ts
  __tests__/unit/uns-crypto/handlers/set-explicit-value.test.ts
  __tests__/unit/uns-crypto/mocks/core-container.ts
  __tests__/unit/uns-crypto/mocks/core-nft.ts
  __tests__/unit/uns-crypto/mocks/database.ts
  packages/uns-transactions/src/handlers/utils/helpers.ts
  packages/uns-transactions/src/index.ts
Due: yarn lint:partial, prettier --write

refactor: nft update tests
  __tests__/functional/transaction-forging/__support__/nft-jest-matchers.ts
  __tests__/functional/transaction-forging/__support__/nft.ts
  __tests__/functional/transaction-forging/nft.test.ts
  __tests__/unit/core-nft/__fixtures__/nft-revert.ts
  __tests__/unit/core-nft/handlers/revert-nft.test.ts
  packages/core-nft/src/transactions/handlers/helpers.ts
  packages/core-nft/src/transactions/handlers/nft-update.ts
Due: yarn lint:partial, prettier --write

fix(uns-transaction): disclose revert
  __tests__/unit/uns-crypto/__fixtures__/index.ts
  __tests__/unit/uns-crypto/handlers/explicit-value.test.ts
  packages/core-nft/src/index.ts
  packages/uns-transactions/src/handlers/uns-disclose-explicit.ts
  packages/uns-transactions/src/handlers/utils/helpers.ts
Due: yarn lint:partial, prettier --write

refactor: allow dynamic searching order in nft transaction query
  packages/core-database-postgres/src/core-nft/queries/transactions/find-by-asset.sql
  packages/core-database-postgres/src/core-nft/repositories/nfts-repository.ts
  packages/core-database/src/core-nft/nfts-business-repository.ts
  packages/core-interfaces/src/core-nft/database/nfts-business-repository.ts
  packages/core-interfaces/src/core-nft/database/nfts-repository.ts
  packages/core-nft/src/transactions/handlers/helpers.ts
  packages/uns-transactions/src/handlers/utils/helpers.ts
Due: yarn lint:partial, prettier --write

fix: dalinet node synchronization
  docker/integration/docker-compose.yml
  docker/uns-init.sh
Due: none

release: libs 4.0.0
  packages/core-nft-crypto/package.json
  packages/core-nft/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  packages/crypto/package.json
  packages/uns-crypto/package.json
  packages/uns-transactions/package.json
Due: prettier --write

chore: bump versions and deps 4.1.0
  packages/core-nft-crypto/package.json
  packages/core-nft/package.json
  packages/core/package.json
  packages/crypto/package.json
  packages/uns-crypto/package.json
  packages/uns-transactions/package.json
Due: prettier --write

chore: uns release script
  package.json
  scripts/ark_crypto_publish.sh
  scripts/publish/uns.sh
  scripts/uns_publish_rebrand.sh
Due: prettier --write

feat: Badges plugin for secondPassphrase
  packages/core/bin/config/dalinet/plugins.js
  packages/uns-badges/README.md
  packages/uns-badges/package.json
  packages/uns-badges/src/defaults.ts
  packages/uns-badges/src/index.ts
  packages/uns-badges/src/plugin-utils.ts
  packages/uns-badges/src/plugin.ts
  packages/uns-badges/src/routes.ts
  packages/uns-badges/tsconfig.json
Due: yarn lint:partial, prettier --write

feat: remove diclose demand and disclose demand certification payload from schema, should be validated by issuer
  packages/uns-crypto/src/transactions/uns-disclose-explicit/schema.ts
Due: yarn lint:partial, prettier --write

feat: add required attributes to disclose transaction schema without checking types
  __tests__/unit/uns-crypto/transactions/uns-disclose-explicit.test.ts
  packages/uns-crypto/src/transactions/uns-disclose-explicit/schema.ts
Due: yarn lint:partial, prettier --write

fix: use the right sandbox Explorer URL
  packages/crypto/src/networks/sandbox/network.json
Due: prettier --write

build: improve cron build script to remove a bash exec warning
  scripts/upstream/update-upstream.sh
Due: none

build: enable heartbeat monitoring of the build script with healthcheck.io
  scripts/upstream/check-uns-update
Due: none

feat: add regex constraint on nft properties key
  __tests__/unit/core-nft/constraints/manager.test.ts
  packages/core-nft/package.json
  packages/core-nft/src/constraints/constraint/index.ts
  packages/core-nft/src/constraints/constraint/regex.ts
  packages/core-nft/src/constraints/manager.ts
  packages/core-nft/src/defaults.ts
  packages/core-nft/src/interfaces/constraint-config.ts
Due: yarn lint:partial, prettier --write
