Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:config, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint:config", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

refactor: use delegate.type attribute
  __tests__/unit/uns-crypto/handlers/uns-vote.test.ts
  plugins/uns/uns-transactions/src/handlers/uns-vote.ts
Due: yarn lint:config, prettier --write

ci: split integration tests
  .circleci/config.yml
  package.json
Due: prettier --write

feat: delegate approval depending on type
  __tests__/integration/uns/core-api/handlers/delegates.test.ts
  __tests__/integration/uns/core-api/handlers/nft.test.ts
  __tests__/unit/core-database/repositories/delegates-business-repository.test.ts
  __tests__/unit/uns-crypto/handlers/uns-vote.test.ts
  __tests__/unit/uns-crypto/helpers.ts
  __tests__/unit/uns-crypto/wallet-state/uns-wallet-state.test.ts
  packages/core-database/package.json
  packages/core-database/src/core-nft/nfts-business-repository.ts
  packages/core-database/src/repositories/transactions-business-repository.ts
  packages/core-database/src/repositories/wallets-business-repository.ts
  packages/core-interfaces/src/core-nft/database/nfts-business-repository.ts
  packages/core-state/src/wallets/wallet-manager.ts
Due: yarn lint:config, prettier --write

chores: set Sandbox/Livenet delegate custom ranking milestones
  __tests__/unit/uns-crypto/wallet-state/uns-wallet-state.test.ts
  packages/crypto/src/networks/livenet/milestones.json
  packages/crypto/src/networks/sandbox/milestones.json
  scripts/network_setup/height_calculator.js
Due: yarn lint:config, prettier --write

release: 5.2.0
  packages/core-api/package.json
  packages/core-database/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write

chores: use lerna to manage project versioning
  lerna.json
Due: prettier --write

v5.3.0-dev.0
  lerna.json
  packages/core-api/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-interfaces/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core/package.json
  packages/crypto/package.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/logger-pino/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write

chores: setup lerna packages visibility for publish
  lerna.json
  package.json
  packages/core-api/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-interfaces/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core/package.json
  packages/crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/logger-pino/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-transactions/package.json
  yarn.lock
Due: prettier --write

chores: use lerna canary release for publishing dev packages within CI
  lerna.json
  package.json
  scripts/publish/uns-dev.sh
Due: prettier --write

fix: foundation wallet rewards
  __tests__/integration/uns/certified-nft-mint.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-mint-coupon.test.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-mint.ts
Due: yarn lint:config, prettier --write

chores: use lerna for releases
  .circleci/config.yml
  package.json
  scripts/publish/uns-dev.sh
  scripts/publish/uns.sh
  scripts/version.sh
Due: prettier --write

fix(CI): build and publish docker images
  .circleci/config.yml
Due: none

feat: set custom ranking Livenet milestone
  packages/crypto/src/networks/livenet/milestones.json
Due: prettier --write

release 5.2.1
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-database/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write

chores: allow branch for lerna version command
  lerna.json
Due: prettier --write

chores: update changelog
  CHANGELOG.md
Due: prettier --write

release 5.2.1
  lerna.json
  packages/core-api/package.json
  packages/core-database/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write
