Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:config, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint:config", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

refactor: remove nftBuilderWithProperty class
  plugins/nft/nft-crypto/src/builders/abstract-nft.ts
  plugins/nft/nft-crypto/src/builders/nft-mint.ts
  plugins/nft/nft-crypto/src/builders/nft-transfer.ts
  plugins/nft/nft-crypto/src/builders/nft-update.ts
  plugins/nft/nft-crypto/src/builders/nft.ts
Due: yarn lint:config, prettier --write

feat: add milestone activation condition for certified transfer
  packages/crypto/src/networks/dalinet/network.json
  packages/crypto/src/networks/livenet/network.json
  packages/crypto/src/networks/sandbox/network.json
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-transfer.ts
Due: yarn lint:config, prettier --write

refactor: adds timers to monitor getUnikOwner
  plugins/uns/uns-transactions/src/handlers/utils/helpers.ts
Due: yarn lint:config, prettier --write

refactor: remove certified builders mixin
  plugins/uns/uns-crypto/src/builders/uns-certified-nft-common.ts
  plugins/uns/uns-crypto/src/builders/uns-certified-nft-mint.ts
  plugins/uns/uns-crypto/src/builders/uns-certified-nft-transfer.ts
  plugins/uns/uns-crypto/src/builders/uns-certified-nft-update.ts
Due: yarn lint:config, prettier --write

feat: add getUnikOwner() dealing with nft transfer
  __tests__/unit/uns-crypto/handlers/disclose-explicit.test.ts
  __tests__/unit/uns-crypto/handlers/helpers.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-mint-V2-individual.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-mint-V2-organization.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-mint-coupon.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-mint.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-update-alive.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-update.test.ts
  __tests__/unit/uns-crypto/mocks/core-container.ts
  __tests__/unit/uns-crypto/wallet-state/transaction-apply-v2.test.ts
  __tests__/unit/uns-crypto/wallet-state/transaction-apply.test.ts
  packages/core-database-postgres/src/core-nft/queries/transactions/find-by-asset.sql
  packages/core-database-postgres/src/core-nft/repositories/nfts-repository.ts
  packages/core-database/src/core-nft/nfts-business-repository.ts
  packages/core-interfaces/src/core-nft/database/nfts-business-repository.ts
  packages/core-interfaces/src/core-nft/database/nfts-repository.ts
  plugins/nft/nft-transactions/src/transactions/handlers/helpers.ts
  plugins/uns/uns-crypto/src/enums.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-handler.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-mint.ts
  plugins/uns/uns-transactions/src/handlers/uns-disclose-explicit.ts
  plugins/uns/uns-transactions/src/handlers/utils/helpers.ts
Due: yarn lint:config, prettier --write

feat: add properties update ability to nftTransfer transaction
  __tests__/unit/core-nft/transactions/nft-mint.test.ts
  __tests__/unit/core-nft/transactions/nft-transfer.test.ts
  __tests__/unit/core-nft/transactions/nft-update.test.ts
  __tests__/unit/core-nft/transactions/schemas-utils.ts
  plugins/nft/nft-crypto/src/builders/abstract-nft.ts
  plugins/nft/nft-crypto/src/interfaces/nft-asset.ts
  plugins/nft/nft-crypto/src/transactions/nft-transfer.ts
  plugins/nft/nft-crypto/src/transactions/nft-update.ts
  plugins/nft/nft-crypto/src/transactions/utils/schemas.ts
  plugins/nft/nft-transactions/src/transactions/handlers/helpers.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-mint.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-transfer.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-update.ts
  plugins/uns/uns-crypto/src/transactions/uns-certified-update/uns-certified-update.ts
Due: yarn lint:config, prettier --write

feat: add certified Nft transfer Handler
  __tests__/helpers/nft-transaction-factory.ts
  __tests__/unit/core-nft/handlers/nft-transfer.test.ts
  __tests__/unit/uns-crypto/handlers/disclose-explicit.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-mint-V2-individual.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-mint-V2-organization.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-mint-coupon.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-mint.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-transfer.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-update-alive.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-update.test.ts
  __tests__/unit/uns-crypto/wallet-state/transaction-apply-v2.test.ts
  __tests__/unit/uns-crypto/wallet-state/transaction-apply.test.ts
  packages/core-database-postgres/src/core-nft/queries/nfts/find-last-transaction.sql
  plugins/uns/uns-crypto/src/transactions/certified-nft-transaction.ts
  plugins/uns/uns-transactions/src/handlers/index.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-handler.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-transfer.ts
  plugins/uns/uns-transactions/src/handlers/uns-disclose-explicit.ts
  plugins/uns/uns-transactions/src/handlers/utils/helpers.ts
  plugins/uns/uns-transactions/src/plugin.ts
Due: yarn lint:config, prettier --write

feat: add Nft Transfer builder
  __tests__/helpers/nft-transaction-factory.ts
  __tests__/unit/core-nft/__fixtures__/index.ts
  __tests__/unit/core-nft/handlers/handlers.test.ts
  __tests__/unit/uns-crypto/builder/uns-certified-nft-transfer.test.ts
  __tests__/unit/uns-crypto/builder/uns-certified-nft-utils.ts
  plugins/nft/nft-crypto/src/builders/abstract-nft.ts
  plugins/nft/nft-crypto/src/builders/nft-transfer.ts
  plugins/nft/nft-crypto/src/transactions/abstract-nft-with-properties.ts
  plugins/nft/nft-crypto/src/transactions/nft-transfer.ts
  plugins/uns/uns-crypto/src/builders/index.ts
  plugins/uns/uns-crypto/src/builders/uns-certified-nft-common.ts
  plugins/uns/uns-crypto/src/builders/uns-certified-nft-transfer.ts
  plugins/uns/uns-crypto/src/interfaces/certification.ts
  plugins/uns/uns-crypto/src/interfaces/certified-nft.ts
  plugins/uns/uns-crypto/src/transactions/index.ts
  plugins/uns/uns-crypto/src/transactions/uns-certified-transfer/index.ts
  plugins/uns/uns-crypto/src/transactions/uns-certified-transfer/uns-certified-transfer.ts
Due: yarn lint:config, prettier --write

test: add certified transfer integ/functionnal tests
  __tests__/functional/transaction-forging/__support__/uns.ts
  __tests__/functional/transaction-forging/uns/certified-transfer.test.ts
  __tests__/integration/uns/certified-nft-transfer.test.ts
  __tests__/unit/uns-crypto/handlers/helpers.test.ts
  plugins/uns/uns-transactions/src/handlers/utils/helpers.ts
Due: yarn lint:config, prettier --write

refactor: use unified nftDemand certification signers
  __tests__/helpers/nft-transaction-factory.ts
  __tests__/unit/uns-crypto/__fixtures__/index.ts
  __tests__/unit/uns-crypto/helpers.ts
  __tests__/unit/uns-crypto/signers/signers.test.ts
  plugins/nft/nft-crypto/src/transactions/index.ts
  plugins/nft/nft-crypto/src/transactions/nft-update.ts
  plugins/nft/nft-crypto/src/transactions/utils/schemas.ts
  plugins/uns/uns-crypto/src/builders/uns-certified-nft-common.ts
  plugins/uns/uns-crypto/src/builders/uns-certified-nft-mint.ts
  plugins/uns/uns-crypto/src/builders/uns-certified-nft-transfer.ts
  plugins/uns/uns-crypto/src/builders/uns-certified-nft-update.ts
  plugins/uns/uns-crypto/src/interfaces/certification.ts
  plugins/uns/uns-crypto/src/interfaces/certified-nft.ts
  plugins/uns/uns-crypto/src/interfaces/index.ts
  plugins/uns/uns-crypto/src/signers/certificationSigner.ts
  plugins/uns/uns-crypto/src/signers/demandHashBuffer.ts
  plugins/uns/uns-crypto/src/signers/demandSigner.ts
  plugins/uns/uns-crypto/src/signers/index.ts
  plugins/uns/uns-crypto/src/signers/nft-mint/NftMintDemandCertificationSigner.ts
  plugins/uns/uns-crypto/src/signers/nft-mint/NftMintDemandHashBuffer.ts
  plugins/uns/uns-crypto/src/signers/nft-mint/NftMintDemandSigner.ts
  plugins/uns/uns-crypto/src/signers/nft-update/NftUpdateDemandCertificationSigner.ts
  plugins/uns/uns-crypto/src/signers/nft-update/NftUpdateDemandSigner.ts
  plugins/uns/uns-crypto/src/transactions/certified-nft-transaction.ts
  plugins/uns/uns-crypto/src/transactions/uns-certified-update/uns-certified-update.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-handler.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-mint.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-update.ts
Due: yarn lint:config, prettier --write

fix: total supply computation with transfered uniks
  __tests__/functional/transaction-forging/uns/certified-update-alive.test.ts
  packages/core-database/src/core-nft/nfts-business-repository.ts
Due: yarn lint:config, prettier --write

fix: breaks esm imports
  plugins/uns/uns-crypto/src/builders/index.ts
Due: yarn lint:config, prettier --write

fix: remove dist import inside client-side libraries
  packages/crypto/src/index.ts
  packages/crypto/src/transactions/builders/index.ts
  packages/crypto/src/transactions/builders/transactions/index.ts
  plugins/uns/uns-crypto/src/builders/uns-delegate-register.ts
  plugins/uns/uns-crypto/src/builders/uns-delegate-resign.ts
  plugins/uns/uns-crypto/src/builders/uns-vote.ts
Due: yarn lint:config, prettier --write

fix: certified unik transfer bootstrap
  __tests__/integration/uns/certified-nft-transfer.test.ts
  plugins/nft/nft-transactions/src/transactions/handlers/helpers.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-transfer.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-transfer.ts
Due: yarn lint:config, prettier --write

refactor: wallet tokens attribute management
  __tests__/integration/uns/certified-nft-transfer.test.ts
  __tests__/unit/core-nft/handlers/nft-transfer.test.ts
  plugins/nft/nft-transactions/src/transactions/handlers/helpers.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-mint.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-transfer.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-mint.ts
Due: yarn lint:config, prettier --write

fix: get unik owner for of cold wallet
  __tests__/functional/transaction-forging/uns/certified-transfer.test.ts
  __tests__/integration/uns/certified-nft-transfer.test.ts
  __tests__/unit/uns-crypto/handlers/disclose-explicit.test.ts
  __tests__/unit/uns-crypto/handlers/helpers.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-mint-V2-individual.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-mint-V2-organization.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-mint-coupon.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-mint.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-transfer.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-update-alive.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-update.test.ts
  __tests__/unit/uns-crypto/wallet-state/transaction-apply-v2.test.ts
  __tests__/unit/uns-crypto/wallet-state/transaction-apply.test.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-handler.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-transfer.ts
  plugins/uns/uns-transactions/src/handlers/uns-disclose-explicit.ts
  plugins/uns/uns-transactions/src/handlers/utils/helpers.ts
Due: yarn lint:config, prettier --write

chore: remove unused scripts
  CODEOWNERS
  package.json
  scripts/docker/generate-docker.js
  scripts/docker/templates/devnet/Dockerfile
  scripts/docker/templates/devnet/docker-compose.yml
  scripts/docker/templates/devnet/entrypoint.sh
  scripts/docker/templates/devnet/purge_all.sh
  scripts/docker/templates/devnet/restore.sh
  scripts/docker/templates/mainnet/docker-compose.yml
  scripts/docker/templates/testnet/Dockerfile
  scripts/docker/templates/testnet/docker-compose.yml
  scripts/docker/templates/testnet/entrypoint.sh
  scripts/docker/templates/testnet/purge_all.sh
  scripts/docker/templates/testnet/restore.sh
  scripts/docker/templates/unitnet/docker-compose.yml
  scripts/docker/templates/unitnet/purge.sh
  scripts/pre-test.sh
  scripts/publish/alpha.sh
  scripts/publish/beta.sh
  scripts/publish/latest.sh
  scripts/publish/next.sh
  scripts/publish/rc.sh
  scripts/upgrade.sh
  scripts/upgrade/test.sh
  scripts/upgrade/upgrade.js
  upgrade/2.1.0/exchange.sh
  upgrade/2.1.0/normal.sh
  vagrant/bootstrap.sh
  vagrant/centos/6/Vagrantfile
  vagrant/centos/7/Vagrantfile
  vagrant/debian/8_10/Vagrantfile
  vagrant/debian/9_4/Vagrantfile
  vagrant/ubuntu/16_04/Vagrantfile
  vagrant/ubuntu/18_04/Vagrantfile
Due: prettier --write

chore: update README
  LICENSE
  README.md
Due: prettier --write

chore: remove snyk
  package.json
  yarn.lock
Due: prettier --write

fix: event config parsing
  packages/core/bin/config/dalinet/plugins.js
  packages/core/bin/config/sandbox/plugins.js
Due: none

release 5.6.2
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write
