Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:config, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint:config", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

feat: set custom ranking Livenet milestone
  packages/crypto/src/networks/livenet/milestones.json
Due: prettier --write

fix(CI): release branch filter
  .circleci/config.yml
Due: none

fix: livenet config loading
  docker/uns-init.sh
  packages/core/bin/config/livenet/plugins.js
  packages/core/bin/config/livenet/sandbox-plugins.js
Due: none

release 5.2.2
  lerna.json
  packages/core-api/package.json
  packages/core-database/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write

chores: allow branch for lerna version command
  lerna.json
Due: prettier --write

tmp test CI
  .circleci/config.yml
  scripts/publish/uns.sh
Due: none

fix(CI): tag detection
  .circleci/config.yml
  scripts/publish/uns.sh
Due: none

feat: adds unik mint rewards in block detail api
  __tests__/integration/core-api/handlers/blocks.test.ts
  packages/core-api/package.json
  packages/core-api/src/handlers/blocks/methods.ts
  packages/core-api/src/handlers/blocks/transformer.ts
Due: yarn lint:config, prettier --write

feat: use captureStackTrace if defined (usefull in safari)
  CHANGELOG.md
  packages/crypto/src/errors.ts
Due: yarn lint:config, prettier --write

fix(CI): weekly npm publish
  .circleci/config.yml
  CHANGELOG.md
  package.json
  scripts/publish/uns.sh
Due: prettier --write

fix: lerna publish preid
  scripts/publish/uns.sh
Due: none

release 5.3.0
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-database/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write

chore(CI): disable release build on develop branch
  .circleci/config.yml
  scripts/publish/uns.sh
Due: none

ci: add missing dependency between e2e tests suite and publishing tasks
  .circleci/config.yml
Due: none

refactor: move genesis blocks to core-container
  CHANGELOG.md
  __tests__/unit/core-blockchain/mocks/blockchain.ts
  __tests__/unit/crypto/blocks/block.test.ts
  __tests__/unit/crypto/managers/config.test.ts
  __tests__/unit/crypto/validation/keywords.test.ts
  packages/core-blockchain/src/replay/replay-blockchain.ts
  packages/core-container/src/config/genesis/dalinet/genesisBlock.json
  packages/core-container/src/config/genesis/dalinet/index.ts
  packages/core-container/src/config/genesis/devnet/genesisBlock.json
  packages/core-container/src/config/genesis/devnet/index.ts
  packages/core-container/src/config/genesis/index.ts
  packages/core-container/src/config/genesis/livenet/genesisBlock.json
  packages/core-container/src/config/genesis/livenet/index.ts
  packages/core-container/src/config/genesis/mainnet/genesisBlock.json
  packages/core-container/src/config/genesis/mainnet/index.ts
  packages/core-container/src/config/genesis/sandbox/genesisBlock.json
  packages/core-container/src/config/genesis/sandbox/index.ts
  packages/core-container/src/config/genesis/testnet/genesisBlock.json
  packages/core-container/src/config/genesis/testnet/index.ts
  packages/core-container/src/config/genesis/unitnet/genesisBlock.json
  packages/core-container/src/config/genesis/unitnet/index.ts
  packages/core-container/src/config/index.ts
  packages/core-database/src/database-service.ts
  packages/core-snapshots/src/transport/index.ts
  packages/core-tester-cli/package.json
  packages/core-tester-cli/src/commands/make/block.ts
  packages/crypto/src/interfaces/networks.ts
  packages/crypto/src/managers/config.ts
  packages/crypto/src/networks/dalinet/index.ts
  packages/crypto/src/networks/devnet/index.ts
  packages/crypto/src/networks/livenet/index.ts
  packages/crypto/src/networks/mainnet/index.ts
  packages/crypto/src/networks/sandbox/index.ts
  packages/crypto/src/networks/testnet/index.ts
  packages/crypto/src/networks/unitnet/index.ts
  packages/crypto/src/utils/index.ts
  packages/crypto/src/validation/keywords.ts
Due: yarn lint:config, prettier --write

release 5.3.1
  lerna.json
  packages/core-api/package.json
  packages/core-database/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write

fix: apply costs for certifiedNftUpdate
  CHANGELOG.md
  __tests__/unit/uns-crypto/__fixtures__/index.ts
  __tests__/unit/uns-crypto/builder/uns-certified-nft-update.test.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-update.test.ts
  __tests__/unit/uns-crypto/signers/signers.test.ts
  plugins/uns/uns-crypto/src/builders/uns-certified-nft-common.ts
  plugins/uns/uns-transactions/src/errors.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-handler.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-update.ts
  plugins/uns/uns-transactions/src/handlers/uns-disclose-explicit.ts
Due: yarn lint:config, prettier --write
