Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:config, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint:config", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

chore: force version 5.6.4
  packages/crypto/src/networks/livenet/milestones.json
Due: prettier --write

release 5.6.4
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write

fix: check nft existence in db
  plugins/nft/nft-transactions/src/manager.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-mint.ts
Due: yarn lint:config, prettier --write

tests: nft mint
  __tests__/functional/transaction-forging/uns/certified-mint-v2.test.ts
  __tests__/functional/transaction-forging/uns/certified-mint-v2/certified-mint-voucher-org.test.ts
  __tests__/functional/transaction-forging/uns/certified-mint-v2/certified-mint-voucher.test.ts
  __tests__/functional/transaction-forging/uns/certified-mint-v2/certified-mint.test.ts
  __tests__/unit/core-nft/handlers/nft-mint.test.ts
  __tests__/unit/core-nft/mocks/core-nft.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-mint-V2-individual.test.ts
  __tests__/unit/uns-crypto/mocks/core-nft.ts
  __tests__/unit/uns-crypto/wallet-state/transaction-revert.test.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-mint.ts
Due: yarn lint:config, prettier --write

chore: disable api count estimation for dalinet
  docker/integration/docker-compose.yml
Due: none

feat: check uniknames wallet integrity
  __tests__/integration/uns/certified-nft-mint-v2.test.ts
  __tests__/integration/uns/certified-nft-mint.test.ts
  __tests__/integration/uns/certified-nft-update.test.ts
  __tests__/integration/uns/core-api/handlers/wallets-v2.test.ts
  __tests__/integration/uns/core-api/handlers/wallets.test.ts
  __tests__/integration/uns/delegate-register.test.ts
  packages/core-database-postgres/src/core-nft/queries/index.ts
  packages/core-database-postgres/src/core-nft/queries/nfts/count.sql
  packages/core-database-postgres/src/core-nft/repositories/nfts-repository.ts
  packages/core-database-postgres/src/state-builder.ts
Due: yarn lint:config, prettier --write

feat: check unikname db integrity at node start
  packages/core-database/package.json
  packages/core-database/src/database-service.ts
Due: yarn lint:config, prettier --write

fix: do not revert nft transaction in db on temp walletmanager
  packages/core-database/src/database-service.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet-manager.ts
Due: yarn lint:config, prettier --write

tests: nft mint additional tests
  __tests__/functional/transaction-forging/uns/certified-mint-v2.test.ts
  __tests__/functional/transaction-forging/uns/certified-mint-v2/certified-mint-voucher-org.test.ts
  __tests__/functional/transaction-forging/uns/certified-mint-v2/certified-mint-voucher.test.ts
  __tests__/functional/transaction-forging/uns/certified-mint-v2/certified-mint.test.ts
  __tests__/unit/core-nft/mocks/core-nft.ts
  __tests__/unit/uns-crypto/handlers/uns-certified-nft-mint-V2-individual.test.ts
  __tests__/unit/uns-crypto/mocks/core-nft.ts
  __tests__/unit/uns-crypto/wallet-state/transaction-revert.test.ts
Due: yarn lint:config, prettier --write

fix: do not revert nft transaction in db on temp walletmanager
  CHANGELOG.md
  packages/core-database/src/database-service.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet-manager.ts
Due: yarn lint:config, prettier --write

refactor: unik owner in db is always up to date
  __tests__/unit/uns-crypto/handlers/helpers.test.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-update.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-handler.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-transfer.ts
  plugins/uns/uns-transactions/src/handlers/utils/helpers.ts
Due: yarn lint:config, prettier --write

refactor: improve logging
  plugins/nft/nft-transactions/src/manager.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-mint.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-transfer.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-update.ts
  plugins/uns/uns-transactions/src/handlers/utils/helpers.ts
Due: yarn lint:config, prettier --write

feat: rebuild nft database at core init
  __tests__/integration/uns/certified-nft-transfer.test.ts
  __tests__/integration/uns/certified-nft-update.test.ts
  __tests__/integration/uns/delegate-register.test.ts
  __tests__/unit/uns-crypto/handlers/explicit-value.test.ts
  packages/core-database-postgres/package.json
  packages/core-database-postgres/src/core-nft/queries/index.ts
  packages/core-database-postgres/src/core-nft/queries/nfts/count.sql
  packages/core-database-postgres/src/core-nft/repositories/nfts-repository.ts
  packages/core-database-postgres/src/state-builder.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/interfaces.ts
  plugins/nft/nft-crypto/src/utils.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-mint.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-transfer.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-update.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-mint.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-transfer.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-update.ts
  plugins/uns/uns-transactions/src/handlers/uns-disclose-explicit.ts
  plugins/uns/uns-transactions/src/handlers/utils/helpers.ts
Due: yarn lint:config, prettier --write

test: nft bootstrap apply
  __tests__/integration/uns/certified-nft-mint-v2.test.ts
  __tests__/integration/uns/certified-nft-mint.test.ts
  __tests__/integration/uns/certified-nft-transfer.test.ts
  __tests__/integration/uns/certified-nft-update.test.ts
Due: yarn lint:config, prettier --write

feat: rebuild nft database at core init
  __tests__/integration/uns/certified-nft-transfer.test.ts
  __tests__/integration/uns/certified-nft-update.test.ts
  __tests__/integration/uns/delegate-register.test.ts
  __tests__/unit/uns-crypto/handlers/explicit-value.test.ts
  packages/core-database-postgres/package.json
  packages/core-database-postgres/src/core-nft/queries/index.ts
  packages/core-database-postgres/src/core-nft/queries/nfts/count.sql
  packages/core-database-postgres/src/core-nft/repositories/nfts-repository.ts
  packages/core-database-postgres/src/state-builder.ts
  plugins/nft/nft-crypto/src/utils.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-mint.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-transfer.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-update.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-mint.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-transfer.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-update.ts
  plugins/uns/uns-transactions/src/handlers/uns-disclose-explicit.ts
  plugins/uns/uns-transactions/src/handlers/utils/helpers.ts
Due: yarn lint:config, prettier --write

refactor: improve logging
  packages/core-database-postgres/src/state-builder.ts
  plugins/nft/nft-transactions/src/manager.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-mint.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-transfer.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-update.ts
  plugins/uns/uns-transactions/src/handlers/utils/helpers.ts
Due: yarn lint:config, prettier --write

chore: set UNN 6.0.0 milestones
  packages/crypto/src/networks/livenet/milestones.json
  packages/crypto/src/networks/sandbox/milestones.json
Due: prettier --write

chore: set UNN phase 2 dalinet milestone
  packages/crypto/src/networks/dalinet/milestones.json
Due: prettier --write

chore: restore Dalinet foundation rewards
  packages/crypto/src/networks/dalinet/milestones.json
Due: prettier --write

chore: set UNN 5.7.0 milestones
  packages/crypto/src/networks/livenet/milestones.json
  packages/crypto/src/networks/sandbox/milestones.json
Due: prettier --write

release 5.7.0
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write

chore: set UNN 5.7.0 milestones
  packages/crypto/src/networks/dalinet/milestones.json
  packages/crypto/src/networks/livenet/milestones.json
  packages/crypto/src/networks/sandbox/milestones.json
Due: prettier --write

chore: bump version 5.7.0
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  plugins/nft/nft-crypto/package.json
  plugins/nft/nft-transactions/package.json
  plugins/uns/ark-crypto/package.json
  plugins/uns/uns-badges/package.json
  plugins/uns/uns-crypto/package.json
  plugins/uns/uns-transactions/package.json
Due: prettier --write

fix: nft mint properties bootstrap
  __tests__/integration/uns/certified-nft-mint-v2.test.ts
  __tests__/integration/uns/certified-nft-mint.test.ts
  __tests__/integration/uns/certified-nft-update.test.ts
  __tests__/integration/uns/utils.ts
  plugins/nft/nft-transactions/src/transactions/handlers/nft-mint.ts
  plugins/uns/uns-transactions/src/handlers/uns-certified-nft-mint.ts
Due: yarn lint:config, prettier --write
