Repository unik-name/unn-core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:partial, prettier --write

ci: dev builds are now tagged as 'dev' tags on NPMJS
  scripts/publish/uns-dev.sh
Due: none

ci: make the dev build script really working
  packages/core-nft-crypto/package.json
  packages/crypto/package.json
  packages/uns-crypto/package.json
  scripts/ark_crypto_publish.sh
  scripts/publish/uns-dev.sh
  scripts/uns_publish_rebrand.sh
Due: prettier --write

feat(uns): assert delegate candidate has only 1 unik
  __tests__/unit/uns-crypto/handlers/uns-delegate-register.test.ts
  packages/uns-transactions/src/errors.ts
  packages/uns-transactions/src/handlers/uns-delegate-register.ts
Due: yarn lint:partial, prettier --write

chore: better logging in this script
  scripts/uns_publish_rebrand.sh
Due: none

chore: remove useless check before executing the script
  scripts/publish/uns-dev.sh
Due: none

build: fix issue with bad dev builds by building before rebranding @ark/crypto
  packages/core-nft-crypto/package.json
  packages/uns-crypto/package.json
  scripts/publish/uns-dev.sh
Due: prettier --write

feat: add unikname on transactions votes api
  packages/uns-transactions/src/api/delegates.ts
  packages/uns-transactions/src/api/handle-routes.ts
  packages/uns-transactions/src/api/plugin.ts
  packages/uns-transactions/src/handlers/utils/helpers.ts
Due: yarn lint:partial, prettier --write

release: 4.2.0
  packages/core-nft/package.json
  packages/core-tester-cli/package.json
  packages/uns-transactions/package.json
Due: prettier --write

fix: imports in CertifiedNftMintTransaction
  packages/uns-crypto/src/transactions/uns-certified-mint/uns-certified-mint.ts
Due: yarn lint:partial, prettier --write

build: fix uns publish script
  scripts/publish/uns.sh
Due: none

release: 4.2.1
  packages/core-nft-crypto/package.json
  packages/core-nft/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  packages/crypto/package.json
  packages/uns-crypto/package.json
  packages/uns-transactions/package.json
Due: prettier --write

release: 4.2.2
  packages/core-nft-crypto/package.json
  packages/core-nft/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  packages/crypto/package.json
  packages/uns-crypto/package.json
  packages/uns-transactions/package.json
  scripts/publish/uns.sh
Due: prettier --write

release: 4.2.2
  packages/core-nft-crypto/package.json
  packages/core-nft/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  packages/crypto/package.json
  packages/uns-crypto/package.json
  packages/uns-transactions/package.json
Due: prettier --write

chore: update NFT forger factory whitelist
  packages/crypto/src/networks/sandbox/network.json
Due: prettier --write

release: 4.2.3
  packages/core-nft-crypto/package.json
  packages/core-nft/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  packages/crypto/package.json
  packages/uns-crypto/package.json
  packages/uns-transactions/package.json
Due: prettier --write

chore: bump versions and deps 4.3.0
  packages/core-nft-crypto/package.json
  packages/core-nft/package.json
  packages/core/package.json
  packages/crypto/package.json
  packages/uns-badges/package.json
  packages/uns-crypto/package.json
  packages/uns-transactions/package.json
Due: prettier --write

ci(dalinet): upgrade dalinet forgers one by one
  docker/integration/docker-compose.yml
  scripts/check-sync/check-sync
  scripts/check-sync/check-sync.sh
  scripts/upstream/update-upstream.sh
Due: none

chores(dalinet): remove useless docker options
  scripts/upstream/update-upstream.sh
Due: none

chores(dalinet): rewrite check-sync script
  scripts/check-sync/check-sync
  scripts/check-sync/check-sync.cron
  scripts/check-sync/check-sync.sh
  scripts/upstream/update-upstream.sh
Due: none

chore(sandbox): load default peers list when the node starts
  packages/core/bin/config/sandbox/peers.json
Due: prettier --write

fix: rename check-sync cron file
  scripts/check-sync/cron-check-sync
Due: none

feat(Badges): adds ComsmicNonce Badge
  packages/uns-badges/src/defaults.ts
Due: yarn lint:partial, prettier --write

fix(uns-transaction): remove duplicate explicitValues
  __tests__/unit/uns-crypto/handlers/explicit-value.test.ts
  packages/uns-transactions/src/handlers/utils/helpers.ts
Due: yarn lint:partial, prettier --write

Path conditions:
  yarn lint:partial: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
